----- 
permalink: h3rald 
filters_pre: 
- erb
- redcloth
title: "H3RALD Web Site"
subtitle: "The site you're looking at"
type: project
github: h3rald
links:
- "Source": http://github.com/h3rald/h3rald/tree/master 
- "Tracking": http://github.com/h3rald/h3rald/issues
status: Active
version: 8.4.0
-----

<%= render 'project_data', :tag => 'website' %>

The H3RALD.com domain was bought in March 2004 and since than has always been my home on the Internet. Through the years, a total of 8 versions of this web site has been released, each featuring some change in the backend.

Currently, this web site is fully static (minus a few Ajax calls) and is powered by the "Nanoc":http://nanoc.stoneship.org/, a very flexible web publishing system written in Ruby.

<div class="spacer-50"></div>
<div class="spacer-50"></div>

h3. Releases

h4. Version 8 (September 2009 &ndash; now) 
* Web Server: "Apache":http://www.apache.org, "Nginx":http://wiki.nginx.org/Main (from version 8.3 onwards)
* Database: n/a
* Framework/CMS/Other: "Nanoc":http://www.h3rald.com
* Programming Language: "Ruby":http://www.ruby-lang.org

h4. Version 7 (July 2007 &ndash; September 2009) 
* Web Server: "Apache":http://www.apache.org
* Database: "MySQL":http://www.mysql.com
* Framework/CMS/Other: "Ruby on Rails":http://www.rubyonrails.org + "Typo":http://www.typosphere.org
* Programming Language: "Ruby":http://www.ruby-lang.org 

h4. Version 6 (December 2005 &ndash; July 2007) 
* Web Server: "Apache":http://www.apache.org
* Database: "MySQL":http://www.mysql.com
* Framework/CMS/Other: "CakePHP":http://www.cakephp.com
* Programming Language: "PHP":http://www.php.net 

h4. Version 5 (April 2005 &ndash; December 2005) 
* Web Server: "Apache":http://www.apache.org
* Database: "SQLite":http://www.sqlite.org
* Framework/CMS/Other: "Prado":http://www.xisc.com/
* Programming Language: "PHP":http://www.php.net 

h4. Version 4 (February 2005 &ndash; April 2005) 
* Web Server: "Apache":http://www.apache.org
* Database: "MySQL":http://www.mysql.com
* Framework/CMS/Other: n/a
* Programming Language: "PHP":http://www.php.net 

h4. Version 3 (November 2005 &ndash; February 2005) 
* Web Server: "Apache":http://www.apache.org
* Database: "MySQL":http://www.mysql.com
* Framework/CMS/Other: "XOOPS":http://www.xoops.org/
* Programming Language: "PHP":http://www.php.net 

h4. Version 2 (May 2004 &ndash; November 2004) 
* Web Server: "Apache":http://www.apache.org
* Database: n/a
* Framework/CMS/Other: n/a
* Programming Language: "PHP":http://www.php.net 

h4. Version 1 (March 2004 &ndash; May 2004) 
* Web Server: "Apache":http://www.apache.org
* Database: n/a
* Framework/CMS/Other: n/a
* Programming Language: n/a 

<%= render 'project_updates', :tag => 'website' %>
