----- 
permalink: hastyscribe
filters_pre: 
- erb
title_tag: HastyScribe
type: project
github: hastyscribe
links:
- "User Guide": /hastyscribe/HastyScribe_UserGuide.htm
- "Download": https://github.com/h3rald/hastyscribe/releases/v1.5.0
- "Source": https://github.com/h3rald/hastyscribe
status: Active
version: 1.5.0
-----

<div class="jumbotron">
  <p style="text-align:center;"><i class="hastyscribe" style="font-size: 180%; color: #000"></i></p>
  <p class="donthyphenate">A simple, self-contained, command-line program able to convert <a href="http://daringfireball.net/projects/markdown">markdown</a> files into self-contained HTML pages, automatically embedding all the needed fonts, stylesheets and images.</p>
</div>

<div class="row donthyphenate" style="text-align: center; margin: auto;">
  <div class="col-md-4" style="padding: 2em;">
    <div class="row">
      <i class="h3-os-apple fa-3x"></i>
      <i class="h3-os-linux fa-3x"></i>
      <i class="h3-os-win-04 fa-3x"></i>
    </div>
    <div class="row">
      <h3 class="centered">Cross Platform</h3>
      <p>Download the precompiled HastyScribe binaries for OS X, Linux, and Windows, or build directly from the source.</p>
    </div>
  </div>
  <div class="col-md-4" style="padding: 2em;">
    <div class="row">
      <i class="h3-terminal fa-3x"></i>
    </div>
    <div class="row">
      <h3 class="centered">Command Line</h3>
      <p>HastyScribe is a command-line application that doesn't need anything else but a single, small,  executable file.</p>
    </div>
  </div>
  <div class="col-md-4" style="padding: 2em;">
    <div class="row">
      <i class="fa fa-mobile fa-3x"></i>
      <i class="fa fa-tablet fa-3x"></i>
      <i class="fa fa-desktop fa-3x"></i>
    </div>
    <div class="row">
      <h3 class="centered">Responsive</h3>
      <p>HastyScribe generates valid, self-contained, responsive HTML5 documents that can be viewed with any major modern broswer, and look great on any device.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Usage &amp; Syntax</div>
      <div class="panel-body">
        <p>Run HastyScribe from the command line like this:</p>
        <p><code><strong>hastyscribe</strong> <em>MyMarkdownFile.md</em></code></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Example &amp; Documentation</div>
      <div class="panel-body">
        <p>View/download the <strong><a href="/hastyscribe/HastyScribe_UserGuide.htm">HastyScribe User Guide</a></strong></p>
        <p>generated with HastyScribe (<a href="https://raw.githubusercontent.com/h3rald/hastyscribe/master/doc/HastyScribe_UserGuide.md">source</a>)</p>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin:auto; text-align:center;">
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="fa-download"></span> Download <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" style="text-align: left;">
    <li>
      <a href="https://github.com/h3rald/hastyscribe/releases/download/v1.5.0/hastyscribe_v1.5.0_macosx_x64.zip"> 
        <i class="h3-os-apple"></i> HastyScribe for OS X (x64)
      </a>
    </li>
    <li>
      <a href="https://github.com/h3rald/hastyscribe/releases/download/v1.5.0/hastyscribe_v1.5.0_linux_x64.zip"> 
        <i class="h3-os-linux"></i> HastyScribe for Linux (x64)
      </a>
    </li>
    <li>
      <a href="https://github.com/h3rald/hastyscribe/releases/download/v1.5.0/hastyscribe_v1.5.0_linux_x86.zip"> 
        <i class="h3-os-linux"></i> HastyScribe for Linux (x86)
      </a>
    </li>
    <li>
      <a href="https://github.com/h3rald/hastyscribe/releases/download/v1.5.0/hastyscribe_v1.5.0_linux_arm.zip"> 
        <i class="h3-os-linux"></i> HastyScribe for Linux (ARM)
      </a>
    </li>
    <li>
      <a href="https://github.com/h3rald/hastyscribe/releases/download/v1.5.0/hastyscribe_v1.5.0_windows_x64.zip"> 
        <i class="h3-os-win-04"></i> HastyScribe for Windows (x64)
      </a>
    </li>
  </ul>
</div>
  <a  href="https://github.com/h3rald/hastyscribe" 
      class="btn btn-success" style="margin:20px;">
      <i class="fa fa-github"></i> View on Github</a>
</div>

<div class="row" style="margin:auto; text-align: center;">
  &mdash; <i class="hastyscribe"></i> is open source software, licensed under the terms of the <a href="http://opensource.org/licenses/MIT">MIT License.</a> &mdash;
</div>
