----- 
permalink: litestore
filters_pre: 
- erb
title_tag: LiteStore
type: project
github: litestore
links:
- "User Guide": /litestore/LiteStore_UserGuide.htm
- "Download": https://github.com/h3rald/litestore/releases/v1.0.0
- "Source": https://github.com/h3rald/litestore
status: Active
version: 1.0.0
-----

<div class="jumbotron">
  <p style="text-align:center;"><h1>LiteStore</h1></p>
  <p class="donthyphenate">A lightweight, self-contained, RESTful, multi-format NoSQL document store server written in <a href="http://nim-lang.org">Nim</a> and powered by a <a href="http://www.sqlite.org">SQLite</a> backend for storage. It aims to be a very simple and lightweight backend ideal for prototyping and testing REST APIs and client-side, single-page applications. </p>
</div>

<div class="row donthyphenate" style="text-align: center; margin: auto;">
  <div class="col-md-4" style="padding: 2em;">
    <div class="row">
      <i class="fa fa-apple fa-3x"></i>
      <i class="fa fa-linux fa-3x"></i>
      <i class="fa fa-windows fa-3x"></i>
    </div>
    <div class="row">
      <h3>Cross Platform</h3>
      <p>Download the precompiled LiteStore binaries for OS X, Linux, and Windows, or build directly from the source.</p>
    </div>
  </div>
  <div class="col-md-4" style="padding: 2em;">
    <div class="row">
      <i class="fa fa-archive fa-3x"></i>
    </div>
    <div class="row">
      <h3>Self-Contained</h3>
      <p>LiteStore is a command-line application that doesn't need anything else but a single, small, executable file.</p>
    </div>
  </div>
  <div class="col-md-4" style="padding: 2em;">
    <div class="row">
      <i class="fa fa-cogs fa-3x"></i>
    </div>
    <div class="row">
      <h3>RESTFul</h3>
      <p>LiteStore exposes a simple RESTful HTTP APIs, perfect for prototyping SPAs.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Usage &amp; Syntax</div>
      <div class="panel-body">
        <p>Run LiteStore from the command line like this:</p>
        <p><code><strong>litestore</strong> -s:<em>MyDataStore.db</em></code></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Documentation</div>
      <div class="panel-body">
        <p>View/download the <strong><a href="/litestore/LiteStore_UserGuide.htm">LiteStore User Guide</a></strong></p>
        <p>(generated with <a href="/hastyscribe/">HastyScribe</a>)</p>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin:auto; text-align:center;">
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-download"></i> Download <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" style="text-align: left;">
    <li>
      <a href="https://github.com/h3rald/litestore/releases/download/v1.0.0/litestore_v1.0.0_macosx_x64.zip"> 
        <i class="fa fa-apple"></i> LiteStore for OS X (x64)
      </a>
    </li>
    <li>
      <a href="https://github.com/h3rald/litestore/releases/download/v1.0.0/litestore_v1.0.0_linux_x86.zip"> 
        <i class="fa fa-linux"></i> LiteStore for Linux (x86)
      </a>
    </li>
    <li>
      <a href="https://github.com/h3rald/litestore/releases/download/v1.0.0/litestore_v1.0.0_linux_arm.zip"> 
        <i class="fa fa-linux"></i> LiteStore for Linux (ARM)
      </a>
    </li>
    <li>
      <a href="https://github.com/h3rald/litestore/releases/download/v1.0.0/litestore_v1.0.0_windows_x64.zip"> 
        <i class="fa fa-windows"></i> LiteStore for Windows (x64)
      </a>
    </li>
    <li>
      <a href="https://github.com/h3rald/litestore/releases/download/v1.0.0/litestore_v1.0.0_windows_x86.zip"> 
        <i class="fa fa-windows"></i> LiteStore for Windows (x86)
      </a>
    </li>
  </ul>
</div>
  <a  href="https://github.com/h3rald/litestore" 
      class="btn btn-success" style="margin:20px;">
      <i class="fa fa-github"></i> View on Github</a>
</div>

<div class="row" style="margin:auto; text-align: center;">
  &mdash; <em>LiteStore</em> is open source software, licensed under the terms of the <a href="http://opensource.org/licenses/MIT">MIT License.</a> &mdash;
</div>
