----- 
permalink: ruby-compendium
filters_pre: 
- erb
title: "Ruby Compendium"
subtitle: "An Essential Guide to the Ruby Ecosystem"
type: project
github: ruby-compendium
links:
- "Download": https://github.com/h3rald/ruby-compendium/downloads
- "Read Online": /ruby-compendium/book
- "Source": https://github.com/h3rald/ruby-compendium
- "Tracking": http://github.com/h3rald/ruby-compendium/issues
status: On Hold
version: 0.2.0
-----

<%= render 'project_data', :tag => 'ruby-compendium' %>

<p>This book was written by Fabio Cevasco and it is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>
<p>This book was authored using <a href="http://www.h3rald.com/glyph">Glyph</a> and the <span class="caps">PDF</span> version was produced with <a href="http://www.princexml.org">Prince <span class="caps">XML</span></a>.</p>
<p>The Ruby logo is copyright &#169; 2006, Yukihiro Matsumoto, and used under the terms of the <a href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5 License</a>.</p>
<p>Special thanks to the following individuals who contributed to the project, in some ways:</p>
<ul>
	<li><a href="http://blog.dio.jp/">Akira Matsuda</a></li>
	<li><a href="http://www.bitcetera.com/">Sven Schwyn</a></li>
</ul>

<%= render 'project_updates', :tag => 'ruby-compendium' %>
