----- 
permalink: tags
filters_pre: 
- erb
title: Tags
type: page
-----
<%
  tags = sorted_site_tags
%>
<div class="container article-aggregation">
<% c = 0
tags.each do |t|
  c = c+1 %>
  <%= %{<div class="row">} if c%4 == 1 %>
    <div class="col-md-3"><%= tag_link_with_count(t[0], t[1]) %></div>
    <%= "</div>" if c%4 == 0 %>
<% end %></div>
</div>
