li.comment
{
	list-style-type: none;
	margin: 10px 0;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 20px;
	clear: both;
	display: block;
}

#content li.comment p
{
	line-height:1.5em;
	margin: 0.5em 0em;
}


li.comment li
{
  list-style-type: disc;
  margin: 0;
  margin-left: 40px;
  padding: 3px;
  display: inline;
  min-height: 0;
}

.comments label
{
	font-family: Georgia,  Serif;
	font-style: italic;
	color: #313634;
}

.comment .author
{
	float: left;
	width: 80px;
	text-align: center;
}

.comment .content
{
	height: 100%;
	margin-left: 80px;
}

.gravatar
{
	border: 1px solid #313634;
}

#content img
{
	margin: 0 5px;
	padding: 2px;
}

#content li
{
	margin-left: 40px;
	line-height: 1.5em;
}

#content p
{
	line-height:1.5em;
	margin: 1.8em 0;
}

#footer div
{
	line-height: 1.5em;
}


blockquote, .note
{
	font-family: Georgia, Serif;
	color:#555;
	font-style:italic;
	padding:0 0 0 33px;
	margin: 0;
	background: url(/images/theme/quote.gif) no-repeat top left;
}


.day
{
	font-style: italic;
}

.info
{
	margin: 0.5em 0;
	padding: 0;
	vertical-align: bottom;
	display: block;
	height: 1em;
	color: #CACACA; 
}

.info img
{
	vertical-align: bottom;
}

.no-margin-left
{
	margin-left: 0;
}

.tag, .link, .cross-link, #taglist a, #timeline a
{
	color: #B80000;
	margin: 0 1px;
	font-family: Georgia, Serif;
	font-style: italic;
	border: none;
}

.tag:hover, .link:hover, .cross-link:hover, #taglist a:hover
{
	color: #FF0900;
	border: none;
}

/*** HOME Page ***/

#services li
{
	margin-left: 0;
}

#services img
{
	float: left;
}

.feed-item
{
	list-style-type: none;
	margin: 0.8em 0.3em;
	color: #BDB7BA;
}

.feed-item-text, .feed-item-date
{
	display: block;
}

.feed-item-text
{
	margin-top: 0.3em;
	margin-left: 1em;
	font-style: italic;
}

#latest-articles
{
	float:left;
	width: 400px;
}

#popular-articles
{
	float:right;
	width: 400px;
}

.clearleft
{
	clear:both;
}

.article-item
{
	padding: 0.5em 0;
	display: block;
}

/** Share buttons **/

.inner-border img
{
	margin-top: 7px;
}

/*** Palette ***/

#down-arrow
{
	background: url('../images/icons/down.png');
	display: block;
	height: 41px;
	width: 40px;
}

#down-arrow:hover
{
	background: url('../images/icons/down_hover.png');
}

#up-arrow
{
	background: url('../images/icons/up.png');
	display: block;
	height: 41px;
	width: 40px;
}

#up-arrow:hover
{
	background: url('../images/icons/up_hover.png');
}

/**** TABLES ****/

table
{
	border-bottom: 1px solid #C0C0C0;
}

tr, td, th
{
	padding: 5px;
}

td, th
{
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
}

th
{
	background-color: #C0C0C0;
}

#taglist, #timeline
{
	width: 100%;
	border-bottom: none;
	margin: 20px 0;
}

#taglist tr, #timeline tr
{
	padding:2px;
	width: 100%;
}

#taglist td, #timeline td
{
	padding:2px;
	border-left: none;
	border-right: none;
}

/**** FORMS ****/

#content input[type=submit]
{
	color: #333;
	border: 2px solid #333;
	background: #ccc;
	outline:none;
	padding: 0.1em 0.3em;
	vertical-align: middle;

}

#content input[type=submit]:hover
{
	border: 2px solid #CF282D;
	background: #eee;
	color: #121212;
}

#content input[type=submit]:active
{
	background: #aaa;
	outline:none;
}

#content input[type=text]
{
	color: #333;
	border: 2px solid #333;
	background: #fff;
	outline:none;
	text-align: left;
	height: 21px;
	vertical-align: middle;
}

#content input[type=text]:hover
{
	border: 2px solid #CF282D;
	background: #FFEA8D;
}

#content input[type=text]:focus, #content input[type=text]:active
{
	border: 2px solid #CF282D;
	background: #FFEA8D;
}

/* Google Search */

#search_form
{
	clear:both;
}

.gsc-resultsHeader, .gs-visibleUrl, .gsc-trailing-more-results, .gs-watermark
{
	display:none;
}

.gsc-result
{
	padding: 0.5em 0;
}

table.gsc-search-box
{
	height: 25px;
	margin:auto;
	margin-top: 20px;
}

.gsc-control, .gsc-resultsRoot
{
	width: 850px;
}

.gsc-search-box td, .gsc-search-box
{
	border: none;
}

.gsc-input
{
	width: 400px;
}

.gsc-branding
{
	color: #000;
	font-style: italic;
	font-size: 80%;
	font-family: Georgia, Serif;
	border: none;
	margin:auto;
	padding: 0;
}

td.gsc-branding-img
{
	text-align: left;
}

div.gsc-clear-button
{
	background: transparent url('../images/icons/close.png') no-repeat center 50%;
	width: 10px;
	height: 10px;
}

div.gsc-clear-button:hover
{
	cursor: pointer;
}

.gsc-cursor-page
{
	display: inline;
	padding-right: 7px;
}

.gsc-cursor-page:hover
{
	cursor: pointer;
}

.gsc-cursor-current-page
{
	font-weight: bold;
}


