/* RESET */

* 
{  
	font-family: inherit;  
	font-style: inherit;  
	font-size: 100%;  
	border: none;  
	padding: 0;  
	margin: 0;  
}

html, body
{
	height: 100%;
	line-height: 1.2;
}

h1, h2, h3, h4, h5, h6
{  
	margin: 1em 0;  
}

p, ol, ul
{
	margin: 1em 0;
}

table 
{  
	border-collapse: collapse;  
	border-spacing: 0;  
}


/*********/

body
{
	color: #000;
	font: 0.8em Verdana, sans-serif;
	margin: 0;
	padding: 0;
}


/* HEADER */

#header
{
	width: 100%;
	background-color: #000;
	padding: 5px 0;
	height: 70px;
}

#logo
{
	height: 72px;
	margin-top: -25px;
}

#header-container, #footer-container
{
	margin: auto;
	width: 900px;
}

#header-left
{
	float: left;
	width: 300px;
	height: 100%;
}

#header-right
{
	float: right;
	text-align: right;
}

#navigation li
{
	display: inline;
	list-style-type: none;
	padding-left: 35px;
	
}

#ie-warning
{
	border-bottom: 1px solid #F5B800;
	background-color: #FFE38F;
	padding: 1em;
	margin-top: -5px;
	margin-bottom: 5px;
	font-weight: bold;
	font-family: Georgia, Serif;
}

/******** CONTENT *******/

#container
{
	padding: 15px;
	margin: auto;
	width: 900px;
	height: 100%;
}

#main
{
	background: #fff url('../images/bkg.png') top repeat;
}

#content
{
	text-align: justify;
	padding: 0 10px;
}

/* FOOTER */


#wrapper {
	min-height: 100%;
	margin-bottom: -40px;
	background: #000;
}  

#border-top
{
	background: #000 url('../images/border-top.png') bottom repeat-x;
	height: 35px;
}

#border-bottom
{
	background: #000 url('../images/border-bottom.png') top repeat-x;
	height: auto;
	padding: 0 30px;
	padding-top:40px;
}

.inner-border 
{
	background: #000 url('../images/redcloth.png') top repeat-x;
	height: 30px;
}

#footer {
	position: relative;
	height: 40px;
	font-family: Georgia, Serif;
	width: 100%;
	font-size: 95%;
	text-align: center;
	background-color: #000;
}

.clearfooter
{
	height: 40px;
	clear: both;
	background: #000;
}
.footer-left, .footer-right, .footer-center
{
	float:left;
	text-align: left;
	font-size: 90%;
	display:block;
	height: 550px;
}

.footer-left
{
	width: 30%;
}

.footer-right
{
	width: 30%;
}

.footer-center
{
	width: 40%;
}

.footer-div
{
	clear: both;
	font-size: 95%;
	color: #CACACA;
}

#share
{
	margin:auto;
	padding: 5px;
	text-align: center;
}

#comments
{
	width: 900px;
	margin:auto;
}

/* slider */

#slider {
  width: 850px;
  margin: 0 auto;
  position: relative;
}

.scroll {
  height: auto;
  overflow: auto;
  position: relative; /* fix for IE to respect overflow */
  clear: left;
}

.scrollContainer div.panel {
  height: auto;
  width: 850px;
}
.scrollButtons {
  position: absolute;
  top: 100px;
	z-index: 3000;
  cursor: pointer;
}

.scrollButtons.left {
  left: -20px;
}

.scrollButtons.right {
  right: -20px;
}
