/* TEXT */

h2, h3, h4, h5
{
	margin: 0;
	font-family: Georgia, Serif;
	font-weight: normal;
	color: #B80000;
}

h1
{
	font-size: 2em;
}

h2
{
	text-align: center; 
	font-size: 1.7em;
}

h3
{
	font-size: 1.5em;
}

h4
{
	font-size: 1.3em;
}

.dropcap {
	font-size: 35px;
	text-align: right;
	width: 50px;
	height: 50px;
	display:block;
	float:left;
	padding: 5px;
	color: #B80000;
}

h2 + p:first-line {
	font-variant:small-caps;
}

#services h3
{
	border: 1px solid #000;
	text-align: left;
	cursor: pointer;
	font-style: italic;
	height: 50px;
	display: block;
}

em {
	font-style: italic;
}


#services h3 a
{
	padding-top: 10px;
}

#content ul
{
	list-style-type: none;	
}

#content li
{
	vertical-align: middle;
	background: url("../images/icons/bullet.png") top left no-repeat;
	padding-left: 20px;
}

/**** Article Lists ****/

.article-list h3
{
	margin-bottom: 1.5em;
}

.article-item h4
{	
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}

.article-tags
{
	font-size: 90%;
	padding-left: 1em;
}

.article-summary
{
	padding-left: 1em;
	font-style: italic;
}



/******* LINKS *******/

a, a.gs-title
{
	text-decoration:none;
	outline:none;
}

a, a.gs-title, .gsc-cursor-page
{
	color: #A4282D;
}

a:hover, a.gs-title:hover, .gsc-cursor-page:hover
{
	color: #CF282D;
}

