/* TEXT */

h2, h3, h4, h5
{
	margin: 0;
	font-family: Georgia, Serif;
}

h1
{
	font-size: 2em;
	font-family: Georgia, Serif;
}

h2
{
	text-align: center; 
	font-size: 1.7em;
	margin: 1em 0 1em 0;
}

h3
{
	font-size: 1.5em;
	margin: 1.5em 0 0.8em 0;
}

h4
{
	font-size: 1.3em;
	margin: 1.2em 0 0.8em 0;
}

.dropcap {
	font-size: 35px;
	text-align: right;
	width: 50px;
	height: 40px;
	display:block;
	float:left;
	padding: 5px;
	color: #B80000;
}

h2 + p:first-line {
	font-variant:small-caps;
}

#services h3
{
	padding-top: 10px;
	text-align: center;
}

#navigation a
{
	font-size: 2em;
}


em {
	font-style: italic;
}

#footer, #border-bottom
{
	color: #BDB7BA;
}

/*** CONTENT ***/

#content img
{
	margin: 0 5px;
	padding: 2px;
}

#content li
{
	margin-left: 30px;
	line-height: 1.5em;
}

#content p
{
	line-height:1.5em;
	margin: 1.7em 0;
}

blockquote, .note
{
	font-family: Georgia, Serif;
	color:#555;
	font-style:italic;
	padding:0 0 0 33px;
	margin: 0;
	background: url(/images/theme/theme/quote.gif) no-repeat top left;
}

/**** Article Lists ****/

.article-list h3, .left-column h3, .right-column h3
{
	margin-bottom: 1.5em;
	text-align: center;
}

.article-item h4
{	
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.article-tags
{
	padding-top: -0.1em;
	font-size: 90%;
	padding-left: 1em;
}

.article-summary
{
	padding-top: 0.5em;
	padding-left: 1em;
	font-style: italic;
}



/******* LINKS *******/

a, a.gs-title
{
	text-decoration:none;
	outline:none;
}

a, a.gs-title, .gsc-cursor-page
{
	color: #A4282D;
}

a:hover, a.gs-title:hover, .gsc-cursor-page:hover
{
	color: #CF282D;
}

