/* Content */

article > header {
	h1 {
		@include standard-font;
		font-weight: normal;
		color: $text-color;
		line-height: 1.2em;
		padding-top: 0.2em;
		text-align:left;
		height: 60%;
		a {
			text-decoration: none;
		}
	}
	h2 {
		@include standard-font;
		padding-top: 0.2em;
		font-style: italic;
		font-weight: normal;
		color: $emphasis-color;
		line-height: 1.1em;
		height: 20%;
		text-align:left;
	}
}

#secondary-content article:after, #main-content article:after {
  text-align: center;
  display: block;
  content: "* * *";
  font-weight: normal;
  font-size: 80%;
  color: $separator-color;
  margin: 2em;
}

#secondary-content article:last-child:after, #main-content article:last-child:after {
  content: "";
}


.code {
  border: 1px solid $border-color;
  padding: 0.3em;
}

.CodeRay .code {
  border: none;
  padding: 0;
}

article > header > p.pubdate {
	@include toolbar;
}

article > header > p.toolbar {
	@include toolbar;
	margin-top: 20px;
	time {
		font-style: italic;
	}
	.tools {
		float: right;
		margin-top: -20px;
		a {
			float: left;
			display: block;
			margin: 0 2px;
			img {
				opacity: 0.6;
				@include ease-in(opacity);
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

article.page > section {
	padding-top: 0.5em;
	clear: both;
}

article > section {
	clear: right;
}

article > header > nav.tags {
	margin-top: -5px;
	padding: 2px 0 3px 0;
	text-align: left;
	float: left;
}

article > header > nav.tags > a {
	margin: 1px 6px 1px 0px;
	font-style: italic;
	font-weight: 600;
	padding: 1px 4px;
}

/* Headers */

#main-content > article h1, 
article.page > header h1 {
	font-size: 2em;
}

#secondary-content > article h1{
  font-size: 1.3em;
}

#secondary-content > article h2{
  font-size: 1.0em;
}

#body-text section header h1,
#body-text h2 {
	font-size: 1.8em;
}

#main-content > article h2, 
article.page > header h2,
#body-text section section header h1,
#body-text h3 {
	font-size: 1.5em;
  font-style: italic;
}

#body-text section section section section header h1,
#body-text h4 {
	font-size: 1.4em;
}

#body-text section section section header h1,
#body-text h5 {
	font-size: 1.2em;
  font-style: italic;
}

#body-text section section section section section header h1,
#body-text h6 {
	font-size: 1.2em;
}

#main-content h1, #secondary-content h1{
  line-height: 1.2em;
}

/* Text */

.featured {
  font-style: italic;
  font-size: 1em;
  color: #555;
  font-weight: normal;
  text-align: left;
  display: block;
}

article {
	font-size: 1.1em;
  line-height: 1.4em;
	header > p { font-size: 95%; }
}

#body-text {
	margin-top: 2.5em;
	h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
		clear: both;
		padding-top: 1.7em;
		margin-bottom: 0.2em;
    line-height: 1.2em;
		width: 100%;
	}
	img {
    margin: 0 0.6em;
	}
	.right, img[style="float:right;"], figure[style="float:right;"] {
		margin: 0 0 0em 1em;
    padding: 0.1em;
	}
	.left, img[style="float:left;"], figure[style="float:left;"] {
		margin: 0 1em 0 0;
    padding: 0.1em;
	}
	blockquote, q {
		font-style: italic;
		color: #8F6B17;
	}
}

article p {
	margin: 0.6em 0;
}

article.feature {
	padding: 10px;	
	header p {
		margin: 0;
		font-weight: bold;
		text-align: right;
		color: $text-color;
	}
	h1, h2 {
		text-align: center;
	}
	h2 {
		margin-bottom:10px;
	}
}

/* Figures */

figcaption {
	color: #8F6B17;
	font-style: italic;
	padding: 0;
	margin: 0 0.6em;
}

figure {
	padding: 0.1em;
	display: auto;
	img {
		margin-bottom: 0;
    border: none;
	}
}


/* Lists */

#body-text ul, ol {
	margin-left: 2em;
}

#body-text li {
	margin-left: 1em;
}

ol.toc, ol.toc ol {
	list-style-type: none;
}

dl {
	margin: 2em 0;
	dt {
		margin: 1em 0 0.3em 0; 
		font-size: 120%;
	}
	dd {
		margin-left: 2em;
	}
}




/* Tables */

#body-text table {
  margin: 1em 0;
	border-collapse: collapse;
	@include border-radius(5px);
	th {
		font-size: 110%;
		text-align: center;
		font-weight: bold;
		background: #fafafa;
	}
	tr, th, td {
		border: 1px solid $border-color;
	}
	td {
		padding: 5px;
	}

}

table#timeline, table#taglist {
	th, tr, td {
		border: none;
	}
}

/* Glyph Book */

section.glyph-book > nav {
	text-align: center;
	margin: 2em auto;
	a {
		margin: 0 1em;
		text-size: 120%;
		font-weight: bold;
	}
}

section.glyph-index h1.toc-header {
	display: none;
}

/* Legacy Comments */

#legacy-comments {
	margin: 0 10px;
}

.lc-header{
	margin: 20px 0 10px 0;
	padding: 3px;
  background: #F7F7F7;
  color: #333;
  line-height: normal;
  height: auto;
	font-weight: bold;
  border: 1px solid rgba(0,0,0,.08);
	@include border-radius(3px);
}
.lc-body {
	margin: 0 10px;
	font-size: 0.93em;
}

/* Projects */

.project-links {
  margin: auto;
	margin-bottom: 2em;
	text-align: center;
}

/* Contact form */

#body-text {
	form.fsForm {
		width: 400px;
	}
	table.fsTable, 
	tr.fsRow, 
	tr.fsRowTop, 
	tr.fsSpacerRow,
 	td.fsRowOpen, 
	td.fsRowClose, 
	td.fsRowBody, 
	td.fsCell {
		border: none;
		@include standard-font;
	}
	tr.fsRowTop, tr.fsSpacerRow {
		display: none;
	}
}


/* Classes */

.clear-left {
	clear: left;
}
.clear-right {
	clear: right;
}
.clear {
	clear:both;
}

.img-right {
	float: right;
	margin: 0 0 0 1em;
  border: 1px solid $text-color;
  padding: 0.2em;
}

.feature {
  .img-right, .img-left {
    border: none;
  }
}


.img-left {
	float: right;
	margin: 0 1em 0 0;
  border: 1px solid $text-color;
  padding: 0.2em;
}

.right {
	float: right;
}

.left {
	float: left;
}

.center {
	margin: auto;
	text-align: center;
}


/* Elements */

a {
  color: $link-color;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: $link-hover-color;
}

sup {
	vertical-align: super;
	font-size: 80%;
}

.toc-top-link {
	font-size: 80%;
	font-weight: bold;
	padding: 3px;
}

.note, .important, .tip, .caution, .box {
  border: 1px solid $text-color;
  display: block;
  margin: 0.7em auto;
  padding: 0.5em 0.5em;
  width: 600px;
  background: #EEE;
  color: #1F1F1F; }

.note > p, .important > p, .tip > p, .caution > p {
  line-height: 1em;
  margin: 0;
  padding: 0; }
 
.note-title {
  display: block;
  padding-bottom: 0.2em;
  font-size: 110%;
  font-weight: bold;
  font-variant: small-caps;
  margin-right: 1em; 
}

.box-title {
  display: block;
  font-size: 110%;
  text-align: center;
  font-weight: bold; }

