/* Definitions */

$background-color: #fcfcfc;
$alt-background-color: #efefef;
$border-color: #ccc;
$separator-color: #555;
$link-color: #802B00;
$link-hover-color: #BD3F00;
$text-color: #000;
$emphasis-color: #000;

@mixin standard-font {
	font-family: 'Crimson Text', 'Palatino', 'Bookman', 'Georgia', 'Times';
	line-height: 1.3em;
}

@mixin ease-in($property) {
	-webkit-transition: $property 0.15s ease-in;  
  -moz-transition: $property 0.15s ease-in;  
  -o-transition: $property 0.15s ease-in;  
  transition: $property 0.25s ease-in;
}

@mixin border-radius($size) {
	-webkit-border-radius: $size;
	-moz-border-radius: $size;
	border-radius: $size;
}

@mixin hover-image($width, $height) {
	width: $width;
	height: $height;
	position: relative;
	img.hover { opacity: 0; }
	&:hover img.hover { opacity: 1; }
	img.default { opacity: 1; }
	&:hover img.default { opacity: 0; }
	img {
		width: $width;
		height: $height;
		left: 0px;
		top: 0px;
		position: absolute;
		-webkit-transition: opacity 0.15s linear;
		-moz-transition: opacity 0.15s linear;
		-o-transition: opacity 0.15s linear;
		transition: opacity 0.15s linear;
	}
}

@mixin toolbar {
	border-bottom: 1px solid $border-color;
  color: $text-color;
  font-style: italic;
	width: 100%;
	text-align: left;
	font-size: 0.8em;
	line-height: 1.4em;
}

