@media (min-width: 768px) {
  .navbar-form .input-group {
    float: right;
    width: 350px;
  }
}
@media (max-width: 991px)  {
  .navbar-form .input-group {
    float: right;
    width: 180px;
  }
}

@media ( max-width : 767px) {
  .nav-container {
    padding: 0;
  }
  .navbar-form .input-group {
    float:none;
    width: 100%;
  }
  .navbar-fixed-top {
    position: absolute;
  }
}

html, body {
  height: 100%;
}
body {
  padding-top: 70px;
}

a, a:link, a:visited, a:active {
  word-break: break-word;
  transition-property: color;
  transition-duration: 500ms; 
  transition-timing-function: ease-out; 
} 

q:before, q:after {
  content: "";
}

q, blockquote {
  color: #999;
  font-style: italic;
}

dt {
  font-weight: 300;
  font-size: 20px;
}

figure {
  margin: 2px;
  border: 1px solid #999;
  padding: 2px;
  color: #999;
  font-size: 80%;
  text-align: center;
}

figure[style="float: right;"], img[style^="float:right"]{
  margin-left: 10px;
}

figure[style="float: left;"], img[style^="float:left"]{
  margin-right: 10px;
}

#site-footer, .navbar, .navbar-collapse {
  box-shadow: 0px 0px 20px 2px $navbar-bkg;
  text-shadow: 0 1px 1px #111; 
  color: $light-text;
  background: $navbar-bkg;
  a, a:link, a:visited, a:active {
    margin: inherit 1px;
    color: $navbar-link;
  }
  .nav a:hover {
    text-decoration: underline;
    background: $navbar-bkg;
    color: #8fc8ea;
  }
}

.navbar {
  height: 60px;
  .container {
    padding-top: 5px;
  }
  .nav {
    background: $navbar-bkg;
  }
  .navbar-toggle {
    border-color: #555;
  }
  .icon-bar {
    background: #555;
  }
  h1 {
    position: relative;
    margin: 0 0 0 15px;
    padding: 0;
  }
  .input-group {
    box-shadow: 0px 1px 1px 0px #111; 
  }
  .btn, input[type=text] {
    border-radius: 0;
  }
}

article table {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
}

main {
  padding-bottom: 50px;
}

#site-footer {
  padding-top: 5px;
  font-size: 12px;
  color: $light-text;
  h1 {
    color: $light-text;
  }
  .copyright {
    text-align: center;
    margin: auto;
  }

  .contact-list ul {
    list-style-type: none;
  }
  .license-logo {
    text-align: center;
    margin: 15px auto;
  }
} 

.article-aggregation {
  margin: 20px 0;
}

.pubdate, .read {
  font-style: italic;
}

.read {
  margin-bottom: 20px;
}

.featured {
  display: block;
  font-style: italic;
  text-align: right;
  font-size: 130%;
  color: #555;
}

#header-row {
  margin-top: 15px;
}

.article-info {
  font-style: italic;
}

.hyphenate {
  text-align: justify;
}

article p[style*="right"] {
  margin: 0.5em 0 0.5em 1em;
}

article p[style*="left"] {
  margin: 0.5em 1em 0.5em 0;
}

#body-text .navigation {
  margin: auto;
  text-align: center;
}

.main-title h1 {
  margin-top: 0;
}
