#gallery {
  padding: 1em;
  width: 750px;
  ul {
    list-style: none;
    li {
      float: left;
      margin-left: 2px;
      padding-left: 0;
		}
    img {
      border: 5px solid #dedede;
		}
    a:hover {
      color: white;
      img {
        border: 5px solid #cccccc ;
        color: white;
			}
		}
  	a { border-bottom: none; }
	}
}
#fancy_content {
  a { border-bottom: none; }
}
#fancy_title td, #fancy_title tr, #fancy_title table {
  border: none;
}
