@font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/lato-bol-eot.eot');
    src: url('../fonts/lato-bol-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bol-woff.woff') format('woff'),
         url('../fonts/lato-bol-ttf.ttf') format('truetype'),
         url('../fonts/lato-bol-svg.svg#latobold') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/lato-lig-eot.eot');
    src: url('../fonts/lato-lig-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-lig-woff.woff') format('woff'),
         url('../fonts/lato-lig-ttf.ttf') format('truetype'),
         url('../fonts/lato-lig-svg.svg#latolight') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-weight: 200;
    font-style: italic;
    src: url('../fonts/lato-ligita-eot.eot');
    src: url('../fonts/lato-ligita-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-ligita-woff.woff') format('woff'),
         url('../fonts/lato-ligita-ttf.ttf') format('truetype'),
         url('../fonts/lato-ligita-svg.svg#latolight_italic') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/lato-reg-eot.eot');
    src: url('../fonts/lato-reg-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-reg-woff.woff') format('woff'),
         url('../fonts/lato-reg-ttf.ttf') format('truetype'),
         url('../fonts/lato-reg-svg.svg#latoregular') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/lato-regita-eot.eot');
    src: url('../fonts/lato-regita-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regita-woff.woff') format('woff'),
         url('../fonts/lato-regita-ttf.ttf') format('truetype'),
         url('../fonts/lato-regita-svg.svg#latoitalic') format('svg');
}
