/* Layout */

body {
	@include standard-font;
	background: $background-color;
  /*background-image: url("../images/textures/dark_leather.png");*/
}

#container {
	width: 960px;
	margin: auto;
	padding: 5px;
	color: $text-color;
	background: $background-color;
	/* @include border-radius(10px); */
}

/* Logos */


.logo {
  font-weight: normal;
  font-family: "Cardo", "Georgia", serif;
}

.hrald {
  display: block;
  margin-top: 10px;
  font-size: 50px;
}

.h, .rald {
  font-size: 50px;
}
.three {
  display: block;
  margin-top: -15px;
  margin-left: -105px;
  font-size: 60px;
}

h1 {

  .logo {
    display: block;
    margin-top: 20px;
    color: $text-color;
  }

  .hrald {
    display: block;
    margin-top: 10px;
    font-size: 75px;
  }

  .h, .rald {
    font-size: 75px;
  }
  .three {
    display: block;
    margin-top: -12px;
    margin-left: -155px;
    font-size: 90px;
  }

  .h_line {
    display: block;
    border: 1px solid $text-color;
    margin-top: 3px;
    margin-left: -6px;
    width: 50px;
  }

  .rald_line {
    float: left;
    display: block;
    border: 1px solid $text-color;
    margin-top: -2px;
    margin-left: 87px;
    width: 209px;
  }

  .established {
    display: block;
    font-weight: bold;
    margin:auto;
    text-align: center;
    font-size: 85%;
    .d {
      vertical-align: super;
      font-size: 72%;
      text-decoration: underline;
    }
    .year {
      font-size: 110%;
    }
    &:before, &:after {
      content: "~";
      vertical-align: middle;
      font-size: 120%;
    }
  }

}



/* Navigation */

#container > nav.home {
	display: block;
	height: 1.5em;
	margin: 1em auto auto auto;
	width: 940px;
	text-align: center;
	font-size: 0.9em;
	a {
		margin: 0 3px; 
	}
}

#container > header	{
	padding-top: 10px;
	margin: auto;
	width: 940px;
	text-align: center;
	height: 60px;
	&.home {
		nav.left { 
			width: 270px;
			height: 60px;
			margin-top: -6px;
		}
		nav.right { 
		width: 270px;
		height: 60px;
		margin-top: -6px;
		}
		h1 {
			float: left;
			margin-left: 50px;
		}
		time {
			clear: both;
			display: block;
			font-size: 0.8em;
			font-weight: bold;
			width: 940px;
			text-align: center;
			padding-top: 0.5em;
		}
	}
	&.page {
		height: 45px;
		border-bottom: 1px solid $border-color;
		nav.section {
			float: right;
			margin-top: 10px;
			font-size: 30px;
		}
		nav.home-link {
			float: left;
		}
	}
}


#container > footer { 
	clear: both;
	text-align: center;
	padding: 10px;
	font-size: 0.8em;
	a {
		margin: 0 3px;
	}
	section.ads {
		height: 90px;
	}
}

#topbar {
	margin: auto;
  text-align: center;
  display: block;
	margin-top: 20px;
	border-top: 1px solid $border-color;
	width: 940px;
}

.social {
	padding-top: 10px;
  height: 50px;
	li { float:left;}
	a {
    border: none;
		margin: 0 20px;
		img {
			opacity: 0.6;
			vertical-align: middle;
			@include ease-in(opacity);
			&:hover {
				opacity: 1;
			}
		}
	}
}

#sharing-buttons {
	clear:both;
	margin: 20px auto;
	text-align: center;
}

#contact {
	margin: auto;
	text-align: center;
}


/* Main */

#main-content {
	margin: 0.5em 0;
  margin-top: 20px;
	width: 655px;
	text-align: justify;
}

#main-content {
	padding: 0 5px;
}

#main-content > article {
	padding: 0 5px;
}

#main-content > section {
	margin-top: 5px;
	padding: 0 5px;
}
#main-content > section.right {
}

#main-content > section.left {
	width: 280px;
}

#main-content > section.right {
	width: 240px;
	padding-left: 10px;
}

/* Secondary */

#secondary-content {
  background-color: $background-color;
  margin-top: 15px;
	/*@include border-radius(5px);*/
	padding: 5px;
	width:280px;
	text-align: justify;
  border-left: 1px solid $border-color;
}

#secondary-content > article {
	padding: 0 5px;
	&.feature {
		margin: 0 5px;
	}
}

#secondary-content > section {
	margin-top: 5px;
	padding: 0 5px;
	width: 170px;
}

#secondary-content > section.left {
	padding-right: 10px;
}

#secondary-content > section.right {
}

article.page {
	padding: 10px;
	text-align: justify;
}


/* Columns */

.three-columns {
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
}

.two-columns {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}

/* Archives */

#taglist, #timeline {
	margin: 2em auto;
	text-align: center;
	td {
		margin: 10px;
		text-align: left;
		width: 180px;
	}
}
