:root {
  --html-font-size: 16px;  
  --base-font-size: 1rem;
  --line-height: 1.5;
  --scale-factor: 1.3333;
  --leading: 1.5rem;
  --letter-spacing: 0.05em;

  --link-color: #ff6868;
  --link-hover-color: #fe3838;

  --heading-text-color: #dddada;
  --primary-text-color: #c7c7c7;
  --secondary-text-color: #e0e0e0;

  --primary-background: #171717;
  --secondary-background: #262626;

  --success-color: #005E23;
  --warning-color: #C97D05;
  --error-color: #da3c3c;
}

