.bg {
    color: #ebdbb2;
    background-color: #282828;
}

.chroma {
    color: #ebdbb2;
    background-color: #282828;
}

.chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit
}

.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.chroma .hl {
    background-color: #3d3d3d
}

.chroma .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #756d59
}

.chroma .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #756d59
}

.chroma .line {
    display: flex;
}

.chroma .k {
    color: #fe8019
}

.chroma .kc {
    color: #fe8019
}

.chroma .kd {
    color: #fe8019
}

.chroma .kn {
    color: #fe8019
}

.chroma .kp {
    color: #fe8019
}

.chroma .kr {
    color: #fe8019
}

.chroma .kt {
    color: #fabd2f
}

.chroma .na {
    color: #b8bb26;
    font-weight: bold
}

.chroma .nb {
    color: #fabd2f
}

.chroma .no {
    color: #d3869b
}

.chroma .ni {
    color: #fabd2f
}

.chroma .ne {
    color: #fb4934
}

.chroma .nf {
    color: #fabd2f
}

.chroma .nl {
    color: #fb4934
}

.chroma .nt {
    color: #fb4934
}

.chroma .s {
    color: #b8bb26
}

.chroma .sa {
    color: #b8bb26
}

.chroma .sb {
    color: #b8bb26
}

.chroma .sc {
    color: #b8bb26
}

.chroma .dl {
    color: #b8bb26
}

.chroma .sd {
    color: #b8bb26
}

.chroma .s2 {
    color: #b8bb26
}

.chroma .se {
    color: #b8bb26
}

.chroma .sh {
    color: #b8bb26
}

.chroma .si {
    color: #b8bb26
}

.chroma .sx {
    color: #b8bb26
}

.chroma .sr {
    color: #b8bb26
}

.chroma .s1 {
    color: #b8bb26
}

.chroma .ss {
    color: #83a598
}

.chroma .m {
    color: #d3869b
}

.chroma .mb {
    color: #d3869b
}

.chroma .mf {
    color: #d3869b
}

.chroma .mh {
    color: #d3869b
}

.chroma .mi {
    color: #d3869b
}

.chroma .il {
    color: #d3869b
}

.chroma .mo {
    color: #d3869b
}

.chroma .o {
    color: #fe8019
}

.chroma .ow {
    color: #fe8019
}

.chroma .c {
    color: #928374;
    font-style: italic
}

.chroma .ch {
    color: #928374;
    font-style: italic
}

.chroma .cm {
    color: #928374;
    font-style: italic
}

.chroma .c1 {
    color: #928374;
    font-style: italic
}

.chroma .cs {
    color: #928374;
    font-style: italic
}

.chroma .cp {
    color: #8ec07c
}

.chroma .cpf {
    color: #8ec07c;
    font-style: italic
}

.chroma .gd {
    color: #282828;
    background-color: #fb4934
}

.chroma .ge {
    color: #83a598;
    text-decoration: underline
}

.chroma .gr {
    background-color: #fb4934;
    font-weight: bold
}

.chroma .gh {
    color: #b8bb26;
    font-weight: bold
}

.chroma .gi {
    color: #282828;
    background-color: #b8bb26
}

.chroma .go {
    color: #504945
}

.chroma .gu {
    color: #b8bb26;
    font-weight: bold
}

.chroma .gt {
    background-color: #fb4934;
    font-weight: bold
}
