@font-face {
  font-family: 'entypo';
  src:  url('../fonts/entypo.eot?wjma87');
  src:  url('../fonts/entypo.eot?wjma87#iefix') format('embedded-opentype'),
    url('../fonts/entypo.ttf?wjma87') format('truetype'),
    url('../fonts/entypo.woff?wjma87') format('woff'),
    url('../fonts/entypo.svg?wjma87#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ent {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'entypo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ent-add-to-list:before {
  content: "\e900";
}
.ent-classic-computer:before {
  content: "\e901";
}
.ent-controller-fast-backward:before {
  content: "\e902";
}
.ent-creative-commons-attribution:before {
  content: "\e903";
}
.ent-creative-commons-noderivs:before {
  content: "\e904";
}
.ent-creative-commons-noncommercial-eu:before {
  content: "\e905";
}
.ent-creative-commons-noncommercial-us:before {
  content: "\e906";
}
.ent-creative-commons-public-domain:before {
  content: "\e907";
}
.ent-creative-commons-remix:before {
  content: "\e908";
}
.ent-creative-commons-share:before {
  content: "\e909";
}
.ent-creative-commons-sharealike:before {
  content: "\e90a";
}
.ent-creative-commons:before {
  content: "\e90b";
}
.ent-document-landscape:before {
  content: "\e90c";
}
.ent-remove-user:before {
  content: "\e90d";
}
.ent-warning:before {
  content: "\e90e";
}
.ent-arrow-bold-down:before {
  content: "\e90f";
}
.ent-arrow-bold-left:before {
  content: "\e910";
}
.ent-arrow-bold-right:before {
  content: "\e911";
}
.ent-arrow-bold-up:before {
  content: "\e912";
}
.ent-arrow-down:before {
  content: "\e913";
}
.ent-arrow-left:before {
  content: "\e914";
}
.ent-arrow-long-down:before {
  content: "\e915";
}
.ent-arrow-long-left:before {
  content: "\e916";
}
.ent-arrow-long-right:before {
  content: "\e917";
}
.ent-arrow-long-up:before {
  content: "\e918";
}
.ent-arrow-right:before {
  content: "\e919";
}
.ent-arrow-up:before {
  content: "\e91a";
}
.ent-arrow-with-circle-down:before {
  content: "\e91b";
}
.ent-arrow-with-circle-left:before {
  content: "\e91c";
}
.ent-arrow-with-circle-right:before {
  content: "\e91d";
}
.ent-arrow-with-circle-up:before {
  content: "\e91e";
}
.ent-bookmark:before {
  content: "\e91f";
}
.ent-bookmarks:before {
  content: "\e920";
}
.ent-chevron-down:before {
  content: "\e921";
}
.ent-chevron-left:before {
  content: "\e922";
}
.ent-chevron-right:before {
  content: "\e923";
}
.ent-chevron-small-down:before {
  content: "\e924";
}
.ent-chevron-small-left:before {
  content: "\e925";
}
.ent-chevron-small-right:before {
  content: "\e926";
}
.ent-chevron-small-up:before {
  content: "\e927";
}
.ent-chevron-thin-down:before {
  content: "\e928";
}
.ent-chevron-thin-left:before {
  content: "\e929";
}
.ent-chevron-thin-right:before {
  content: "\e92a";
}
.ent-chevron-thin-up:before {
  content: "\e92b";
}
.ent-chevron-up:before {
  content: "\e92c";
}
.ent-chevron-with-circle-down:before {
  content: "\e92d";
}
.ent-chevron-with-circle-left:before {
  content: "\e92e";
}
.ent-chevron-with-circle-right:before {
  content: "\e92f";
}
.ent-chevron-with-circle-up:before {
  content: "\e930";
}
.ent-cloud:before {
  content: "\e931";
}
.ent-controller-fast-forward:before {
  content: "\e932";
}
.ent-controller-jump-to-start:before {
  content: "\e933";
}
.ent-controller-next:before {
  content: "\e934";
}
.ent-controller-paus:before {
  content: "\e935";
}
.ent-controller-play:before {
  content: "\e936";
}
.ent-controller-record:before {
  content: "\e937";
}
.ent-controller-stop:before {
  content: "\e938";
}
.ent-controller-volume:before {
  content: "\e939";
}
.ent-dot-single:before {
  content: "\e93a";
}
.ent-dots-three-horizontal:before {
  content: "\e93b";
}
.ent-dots-three-vertical:before {
  content: "\e93c";
}
.ent-dots-two-horizontal:before {
  content: "\e93d";
}
.ent-dots-two-vertical:before {
  content: "\e93e";
}
.ent-download:before {
  content: "\e93f";
}
.ent-emoji-flirt:before {
  content: "\e940";
}
.ent-flow-branch:before {
  content: "\e941";
}
.ent-flow-cascade:before {
  content: "\e942";
}
.ent-flow-line:before {
  content: "\e943";
}
.ent-flow-parallel:before {
  content: "\e944";
}
.ent-flow-tree:before {
  content: "\e945";
}
.ent-install:before {
  content: "\e946";
}
.ent-layers:before {
  content: "\e947";
}
.ent-open-book:before {
  content: "\e948";
}
.ent-resize-100:before {
  content: "\e949";
}
.ent-resize-full-screen:before {
  content: "\e94a";
}
.ent-save:before {
  content: "\e94b";
}
.ent-select-arrows:before {
  content: "\e94c";
}
.ent-sound-mute:before {
  content: "\e94d";
}
.ent-sound:before {
  content: "\e94e";
}
.ent-trash:before {
  content: "\e94f";
}
.ent-triangle-down:before {
  content: "\e950";
}
.ent-triangle-left:before {
  content: "\e951";
}
.ent-triangle-right:before {
  content: "\e952";
}
.ent-triangle-up:before {
  content: "\e953";
}
.ent-uninstall:before {
  content: "\e954";
}
.ent-upload-to-cloud:before {
  content: "\e955";
}
.ent-upload:before {
  content: "\e956";
}
.ent-add-user:before {
  content: "\e957";
}
.ent-address:before {
  content: "\e958";
}
.ent-adjust:before {
  content: "\e959";
}
.ent-air:before {
  content: "\e95a";
}
.ent-aircraft-landing:before {
  content: "\e95b";
}
.ent-aircraft-take-off:before {
  content: "\e95c";
}
.ent-aircraft:before {
  content: "\e95d";
}
.ent-align-bottom:before {
  content: "\e95e";
}
.ent-align-horizontal-middle:before {
  content: "\e95f";
}
.ent-align-left:before {
  content: "\e960";
}
.ent-align-right:before {
  content: "\e961";
}
.ent-align-top:before {
  content: "\e962";
}
.ent-align-vertical-middle:before {
  content: "\e963";
}
.ent-archive:before {
  content: "\e964";
}
.ent-area-graph:before {
  content: "\e965";
}
.ent-attachment:before {
  content: "\e966";
}
.ent-awareness-ribbon:before {
  content: "\e967";
}
.ent-back-in-time:before {
  content: "\e968";
}
.ent-back:before {
  content: "\e969";
}
.ent-bar-graph:before {
  content: "\e96a";
}
.ent-battery:before {
  content: "\e96b";
}
.ent-beamed-note:before {
  content: "\e96c";
}
.ent-bell:before {
  content: "\e96d";
}
.ent-blackboard:before {
  content: "\e96e";
}
.ent-block:before {
  content: "\e96f";
}
.ent-book:before {
  content: "\e970";
}
.ent-bowl:before {
  content: "\e971";
}
.ent-box:before {
  content: "\e972";
}
.ent-briefcase:before {
  content: "\e973";
}
.ent-browser:before {
  content: "\e974";
}
.ent-brush:before {
  content: "\e975";
}
.ent-bucket:before {
  content: "\e976";
}
.ent-cake:before {
  content: "\e977";
}
.ent-calculator:before {
  content: "\e978";
}
.ent-calendar:before {
  content: "\e979";
}
.ent-camera:before {
  content: "\e97a";
}
.ent-ccw:before {
  content: "\e97b";
}
.ent-chat:before {
  content: "\e97c";
}
.ent-check:before {
  content: "\e97d";
}
.ent-circle-with-cross:before {
  content: "\e97e";
}
.ent-circle-with-minus:before {
  content: "\e97f";
}
.ent-circle-with-plus:before {
  content: "\e980";
}
.ent-circle:before {
  content: "\e981";
}
.ent-circular-graph:before {
  content: "\e982";
}
.ent-clapperboard:before {
  content: "\e983";
}
.ent-clipboard:before {
  content: "\e984";
}
.ent-clock:before {
  content: "\e985";
}
.ent-code:before {
  content: "\e986";
}
.ent-cog:before {
  content: "\e987";
}
.ent-colours:before {
  content: "\e988";
}
.ent-compass:before {
  content: "\e989";
}
.ent-copy:before {
  content: "\e98a";
}
.ent-credit-card:before {
  content: "\e98b";
}
.ent-credit:before {
  content: "\e98c";
}
.ent-cross:before {
  content: "\e98d";
}
.ent-cup:before {
  content: "\e98e";
}
.ent-cw:before {
  content: "\e98f";
}
.ent-cycle:before {
  content: "\e990";
}
.ent-database:before {
  content: "\e991";
}
.ent-dial-pad:before {
  content: "\e992";
}
.ent-direction:before {
  content: "\e993";
}
.ent-document:before {
  content: "\e994";
}
.ent-documents:before {
  content: "\e995";
}
.ent-drink:before {
  content: "\e996";
}
.ent-drive:before {
  content: "\e997";
}
.ent-drop:before {
  content: "\e998";
}
.ent-edit:before {
  content: "\e999";
}
.ent-email:before {
  content: "\e99a";
}
.ent-emoji-happy:before {
  content: "\e99b";
}
.ent-emoji-neutral:before {
  content: "\e99c";
}
.ent-emoji-sad:before {
  content: "\e99d";
}
.ent-erase:before {
  content: "\e99e";
}
.ent-eraser:before {
  content: "\e99f";
}
.ent-export:before {
  content: "\e9a0";
}
.ent-eye:before {
  content: "\e9a1";
}
.ent-feather:before {
  content: "\e9a2";
}
.ent-flag:before {
  content: "\e9a3";
}
.ent-flash:before {
  content: "\e9a4";
}
.ent-flashlight:before {
  content: "\e9a5";
}
.ent-flat-brush:before {
  content: "\e9a6";
}
.ent-folder-images:before {
  content: "\e9a7";
}
.ent-folder-music:before {
  content: "\e9a8";
}
.ent-folder-video:before {
  content: "\e9a9";
}
.ent-folder:before {
  content: "\e9aa";
}
.ent-forward:before {
  content: "\e9ab";
}
.ent-funnel:before {
  content: "\e9ac";
}
.ent-game-controller:before {
  content: "\e9ad";
}
.ent-gauge:before {
  content: "\e9ae";
}
.ent-globe:before {
  content: "\e9af";
}
.ent-graduation-cap:before {
  content: "\e9b0";
}
.ent-grid:before {
  content: "\e9b1";
}
.ent-hair-cross:before {
  content: "\e9b2";
}
.ent-hand:before {
  content: "\e9b3";
}
.ent-heart-outlined:before {
  content: "\e9b4";
}
.ent-heart:before {
  content: "\e9b5";
}
.ent-help-with-circle:before {
  content: "\e9b6";
}
.ent-help:before {
  content: "\e9b7";
}
.ent-home:before {
  content: "\e9b8";
}
.ent-hour-glass:before {
  content: "\e9b9";
}
.ent-image-inverted:before {
  content: "\e9ba";
}
.ent-image:before {
  content: "\e9bb";
}
.ent-images:before {
  content: "\e9bc";
}
.ent-inbox:before {
  content: "\e9bd";
}
.ent-infinity:before {
  content: "\e9be";
}
.ent-info-with-circle:before {
  content: "\e9bf";
}
.ent-info:before {
  content: "\e9c0";
}
.ent-key:before {
  content: "\e9c1";
}
.ent-keyboard:before {
  content: "\e9c2";
}
.ent-lab-flask:before {
  content: "\e9c3";
}
.ent-landline:before {
  content: "\e9c4";
}
.ent-language:before {
  content: "\e9c5";
}
.ent-laptop:before {
  content: "\e9c6";
}
.ent-leaf:before {
  content: "\e9c7";
}
.ent-level-down:before {
  content: "\e9c8";
}
.ent-level-up:before {
  content: "\e9c9";
}
.ent-lifebuoy:before {
  content: "\e9ca";
}
.ent-light-bulb:before {
  content: "\e9cb";
}
.ent-light-down:before {
  content: "\e9cc";
}
.ent-light-up:before {
  content: "\e9cd";
}
.ent-line-graph:before {
  content: "\e9ce";
}
.ent-link:before {
  content: "\e9cf";
}
.ent-list:before {
  content: "\e9d0";
}
.ent-location-pin:before {
  content: "\e9d1";
}
.ent-location:before {
  content: "\e9d2";
}
.ent-lock-open:before {
  content: "\e9d3";
}
.ent-lock:before {
  content: "\e9d4";
}
.ent-log-out:before {
  content: "\e9d5";
}
.ent-login:before {
  content: "\e9d6";
}
.ent-loop:before {
  content: "\e9d7";
}
.ent-magnet:before {
  content: "\e9d8";
}
.ent-magnifying-glass:before {
  content: "\e9d9";
}
.ent-mail:before {
  content: "\e9da";
}
.ent-man:before {
  content: "\e9db";
}
.ent-map:before {
  content: "\e9dc";
}
.ent-mask:before {
  content: "\e9dd";
}
.ent-medal:before {
  content: "\e9de";
}
.ent-megaphone:before {
  content: "\e9df";
}
.ent-menu:before {
  content: "\e9e0";
}
.ent-message:before {
  content: "\e9e1";
}
.ent-mic:before {
  content: "\e9e2";
}
.ent-minus:before {
  content: "\e9e3";
}
.ent-mobile:before {
  content: "\e9e4";
}
.ent-modern-mic:before {
  content: "\e9e5";
}
.ent-moon:before {
  content: "\e9e6";
}
.ent-mouse:before {
  content: "\e9e7";
}
.ent-music:before {
  content: "\e9e8";
}
.ent-network:before {
  content: "\e9e9";
}
.ent-new-message:before {
  content: "\e9ea";
}
.ent-new:before {
  content: "\e9eb";
}
.ent-news:before {
  content: "\e9ec";
}
.ent-note:before {
  content: "\e9ed";
}
.ent-notification:before {
  content: "\e9ee";
}
.ent-old-mobile:before {
  content: "\e9ef";
}
.ent-old-phone:before {
  content: "\e9f0";
}
.ent-palette:before {
  content: "\e9f1";
}
.ent-paper-plane:before {
  content: "\e9f2";
}
.ent-pencil:before {
  content: "\e9f3";
}
.ent-phone:before {
  content: "\e9f4";
}
.ent-pie-chart:before {
  content: "\e9f5";
}
.ent-pin:before {
  content: "\e9f6";
}
.ent-plus:before {
  content: "\e9f7";
}
.ent-popup:before {
  content: "\e9f8";
}
.ent-power-plug:before {
  content: "\e9f9";
}
.ent-price-ribbon:before {
  content: "\e9fa";
}
.ent-price-tag:before {
  content: "\e9fb";
}
.ent-print:before {
  content: "\e9fc";
}
.ent-progress-empty:before {
  content: "\e9fd";
}
.ent-progress-full:before {
  content: "\e9fe";
}
.ent-progress-one:before {
  content: "\e9ff";
}
.ent-progress-two:before {
  content: "\ea00";
}
.ent-publish:before {
  content: "\ea01";
}
.ent-quote:before {
  content: "\ea02";
}
.ent-radio:before {
  content: "\ea03";
}
.ent-reply-all:before {
  content: "\ea04";
}
.ent-reply:before {
  content: "\ea05";
}
.ent-retweet:before {
  content: "\ea06";
}
.ent-rocket:before {
  content: "\ea07";
}
.ent-round-brush:before {
  content: "\ea08";
}
.ent-rss:before {
  content: "\ea09";
}
.ent-ruler:before {
  content: "\ea0a";
}
.ent-scissors:before {
  content: "\ea0b";
}
.ent-share-alternitive:before {
  content: "\ea0c";
}
.ent-share:before {
  content: "\ea0d";
}
.ent-shareable:before {
  content: "\ea0e";
}
.ent-shield:before {
  content: "\ea0f";
}
.ent-shop:before {
  content: "\ea10";
}
.ent-shopping-bag:before {
  content: "\ea11";
}
.ent-shopping-basket:before {
  content: "\ea12";
}
.ent-shopping-cart:before {
  content: "\ea13";
}
.ent-shuffle:before {
  content: "\ea14";
}
.ent-signal:before {
  content: "\ea15";
}
.ent-sound-mix:before {
  content: "\ea16";
}
.ent-sports-club:before {
  content: "\ea17";
}
.ent-spreadsheet:before {
  content: "\ea18";
}
.ent-squared-cross:before {
  content: "\ea19";
}
.ent-squared-minus:before {
  content: "\ea1a";
}
.ent-squared-plus:before {
  content: "\ea1b";
}
.ent-star-outlined:before {
  content: "\ea1c";
}
.ent-star:before {
  content: "\ea1d";
}
.ent-stopwatch:before {
  content: "\ea1e";
}
.ent-suitcase:before {
  content: "\ea1f";
}
.ent-swap:before {
  content: "\ea20";
}
.ent-sweden:before {
  content: "\ea21";
}
.ent-switch:before {
  content: "\ea22";
}
.ent-tablet:before {
  content: "\ea23";
}
.ent-tag:before {
  content: "\ea24";
}
.ent-text-document-inverted:before {
  content: "\ea25";
}
.ent-text-document:before {
  content: "\ea26";
}
.ent-text:before {
  content: "\ea27";
}
.ent-thermometer:before {
  content: "\ea28";
}
.ent-thumbs-down:before {
  content: "\ea29";
}
.ent-thumbs-up:before {
  content: "\ea2a";
}
.ent-thunder-cloud:before {
  content: "\ea2b";
}
.ent-ticket:before {
  content: "\ea2c";
}
.ent-time-slot:before {
  content: "\ea2d";
}
.ent-tools:before {
  content: "\ea2e";
}
.ent-traffic-cone:before {
  content: "\ea2f";
}
.ent-tree:before {
  content: "\ea30";
}
.ent-trophy:before {
  content: "\ea31";
}
.ent-tv:before {
  content: "\ea32";
}
.ent-typing:before {
  content: "\ea33";
}
.ent-unread:before {
  content: "\ea34";
}
.ent-untag:before {
  content: "\ea35";
}
.ent-user:before {
  content: "\ea36";
}
.ent-users:before {
  content: "\ea37";
}
.ent-v-card:before {
  content: "\ea38";
}
.ent-video:before {
  content: "\ea39";
}
.ent-vinyl:before {
  content: "\ea3a";
}
.ent-voicemail:before {
  content: "\ea3b";
}
.ent-wallet:before {
  content: "\ea3c";
}
.ent-water:before {
  content: "\ea3d";
}
.ent-500px-with-circle:before {
  content: "\ea3e";
}
.ent-500px:before {
  content: "\ea3f";
}
.ent-basecamp:before {
  content: "\ea40";
}
.ent-behance:before {
  content: "\ea41";
}
.ent-creative-cloud:before {
  content: "\ea42";
}
.ent-dropbox:before {
  content: "\ea43";
}
.ent-evernote:before {
  content: "\ea44";
}
.ent-flattr:before {
  content: "\ea45";
}
.ent-foursquare:before {
  content: "\ea46";
}
.ent-google-drive:before {
  content: "\ea47";
}
.ent-google-hangouts:before {
  content: "\ea48";
}
.ent-grooveshark:before {
  content: "\ea49";
}
.ent-icloud:before {
  content: "\ea4a";
}
.ent-mixi:before {
  content: "\ea4b";
}
.ent-onedrive:before {
  content: "\ea4c";
}
.ent-paypal:before {
  content: "\ea4d";
}
.ent-picasa:before {
  content: "\ea4e";
}
.ent-qq:before {
  content: "\ea4f";
}
.ent-rdio-with-circle:before {
  content: "\ea50";
}
.ent-renren:before {
  content: "\ea51";
}
.ent-scribd:before {
  content: "\ea52";
}
.ent-sina-weibo:before {
  content: "\ea53";
}
.ent-skype-with-circle:before {
  content: "\ea54";
}
.ent-skype:before {
  content: "\ea55";
}
.ent-slideshare:before {
  content: "\ea56";
}
.ent-smashing:before {
  content: "\ea57";
}
.ent-soundcloud:before {
  content: "\ea58";
}
.ent-spotify-with-circle:before {
  content: "\ea59";
}
.ent-spotify:before {
  content: "\ea5a";
}
.ent-swarm:before {
  content: "\ea5b";
}
.ent-vine-with-circle:before {
  content: "\ea5c";
}
.ent-vine:before {
  content: "\ea5d";
}
.ent-vk-alternitive:before {
  content: "\ea5e";
}
.ent-vk-with-circle:before {
  content: "\ea5f";
}
.ent-vk:before {
  content: "\ea60";
}
.ent-xing-with-circle:before {
  content: "\ea61";
}
.ent-xing:before {
  content: "\ea62";
}
.ent-yelp:before {
  content: "\ea63";
}
.ent-dribbble-with-circle:before {
  content: "\ea64";
}
.ent-dribbble:before {
  content: "\ea65";
}
.ent-facebook-with-circle:before {
  content: "\ea66";
}
.ent-facebook:before {
  content: "\ea67";
}
.ent-flickr-with-circle:before {
  content: "\ea68";
}
.ent-flickr:before {
  content: "\ea69";
}
.ent-github-with-circle:before {
  content: "\ea6a";
}
.ent-github:before {
  content: "\ea6b";
}
.ent-google-with-circle:before {
  content: "\ea6c";
}
.ent-google:before {
  content: "\ea6d";
}
.ent-instagram-with-circle:before {
  content: "\ea6e";
}
.ent-instagram:before {
  content: "\ea6f";
}
.ent-lastfm-with-circle:before {
  content: "\ea70";
}
.ent-lastfm:before {
  content: "\ea71";
}
.ent-linkedin-with-circle:before {
  content: "\ea72";
}
.ent-linkedin:before {
  content: "\ea73";
}
.ent-pinterest-with-circle:before {
  content: "\ea74";
}
.ent-pinterest:before {
  content: "\ea75";
}
.ent-rdio:before {
  content: "\ea76";
}
.ent-stumbleupon-with-circle:before {
  content: "\ea77";
}
.ent-stumbleupon:before {
  content: "\ea78";
}
.ent-tumblr-with-circle:before {
  content: "\ea79";
}
.ent-tumblr:before {
  content: "\ea7a";
}
.ent-twitter-with-circle:before {
  content: "\ea7b";
}
.ent-twitter:before {
  content: "\ea7c";
}
.ent-vimeo-with-circle:before {
  content: "\ea7d";
}
.ent-vimeo:before {
  content: "\ea7e";
}
.ent-youtube-with-circle:before {
  content: "\ea7f";
}
.ent-youtube:before {
  content: "\ea80";
}
