
@font-face {
    font-family: 'Calendas Plus';
    src: url('../fonts/calendas_plus-eot.eot');
    src: url('../fonts/calendas_plus-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calendas_plus-woff2.woff2') format('woff2'),
         url('../fonts/calendas_plus-woff.woff') format('woff'),
         url('../fonts/calendas_plus-ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Calendas Plus';
    src: url('../fonts/calendas_plus_bold-eot.eot');
    src: url('../fonts/calendas_plus_bold-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calendas_plus_bold-woff2.woff2') format('woff2'),
         url('../fonts/calendas_plus_bold-woff.woff') format('woff'),
         url('../fonts/calendas_plus_bold-ttf.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Calendas Plus';
    src: url('../fonts/calendas_plus_italic-eot.eot');
    src: url('../fonts/calendas_plus_italic-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calendas_plus_italic-woff2.woff2') format('woff2'),
         url('../fonts/calendas_plus_italic-woff.woff') format('woff'),
         url('../fonts/calendas_plus_italic-ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-lightitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-semibold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
     src: url('../fonts/raleway-semibolditalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}


@font-face {
  font-family: 'Noway';
  src: url('../fonts/noway_light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noway';
  src: url('../fonts/noway_light_italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Noway';
  src: url('../fonts/noway_regular-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noway';
   src: url('../fonts/noway_regular_italic-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}



@font-face {
    font-family: 'Hack';
    src: url('../fonts/hack-regular-webfont.eot?v=2.020');
    src: url('../fonts/hack-regular-webfont.eot?#iefix&v=2.020') format('embedded-opentype'), url('../fonts/hack-regular-webfont.woff2?v=2.020') format('woff2'), url('../fonts/hack-regular-webfont.woff?v=2.020') format('woff'), url('../fonts/hack-regular-webfont.ttf?v=2.020') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Hack';
    src: url('../fonts/hack-bold-webfont.eot?v=2.020');
    src: url('../fonts/hack-bold-webfont.eot?#iefix&v=2.020') format('embedded-opentype'), url('../fonts/hack-bold-webfont.woff2?v=2.020') format('woff2'), url('../fonts/hack-bold-webfont.woff?v=2.020') format('woff'), url('../fonts/hack-bold-webfont.ttf?v=2.020') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Hack';
    src: url('../fonts/hack-italic-webfont.eot?v=2.020');
    src: url('../fonts/hack-italic-webfont.eot?#iefix&v=2.020') format('embedded-opentype'), url('../fonts/hack-italic-webfont.woff2?v=2.020') format('woff2'), url('../fonts/hack-italic-webfont.woff?v=2.020') format('woff'), url('../fonts/hack-italic-webfont.ttf?v=2.020') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Hack';
    src: url('../fonts/hack-bolditalic-webfont.eot?v=2.020');
    src: url('../fonts/hack-bolditalic-webfont.eot?#iefix&v=2.020') format('embedded-opentype'), url('../fonts/hack-bolditalic-webfont.woff2?v=2.020') format('woff2'), url('../fonts/hack-bolditalic-webfont.woff?v=2.020') format('woff'), url('../fonts/hack-bolditalic-webfont.ttf?v=2.020') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: 'H3RALD';
    src: url('../fonts/h3rald-eot.eot');
    src: url('../fonts/h3rald-eot.eot?#iefix') format('embedded-opentype'), url('../fonts/h3rald-ttf.ttf') format('truetype'), url('../fonts/h3rald-woff.woff') format('woff'), url('../fonts/h3rald-svg.svg#h3rald') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .h3rald {
    font-family: "H3RALD";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e7c4";
    display: inline;
  }
  .h3rald:before {
    content: "\e7c4";
  }
  @font-face {
    font-family: 'HastyScribe';
    src: url('../fonts/hastyscribe-eot.eot');
    src: url('../fonts/hastyscribe-eot.eot?#iefix') format('embedded-opentype'), url('../fonts/hastyscribe-ttf.ttf') format('truetype'), url('../fonts/hastyscribe-woff.woff') format('woff'), url('../fonts/hastyscribe-svg.svg#hastyscribe') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .hastyscribe:before {
    font-family: "HastyScribe";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 150%;
    vertical-align: bottom;
    line-height: 0.7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline;
    content: "H";
  }
  
