

body {
  font-family: 'Raleway', sans-serif;
  -moz-font-feature-settings: "liga", "clig", "onum", "frac", "kern";
  -webkit-font-feature-settings: "liga", "clig", "onum", "frac", "kern";
  -ms-font-feature-settings: "liga", "clig", "onum", "frac", "kern";
  font-feature-settings: "liga", "clig", "onum", "frac", "kern";
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  font-weight: normal;
  font-size: 1rem;
}

b, strong, h1, h2, h3, h4, h5, h6, .panel-title {
  font-weight: bold;
}

i, em, .subtitle, .panel-header, a {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  -moz-font-feature-settings: "liga", "clig", "dlig", "onum", "frac", "kern";
  -webkit-font-feature-settings: "liga", "clig", "dlig", "onum", "frac", "kern";
  -ms-font-feature-settings: "liga", "clig", "dlig", "onum", "frac", "kern";
  font-feature-settings: "liga", "clig", "dlig", "onum", "frac", "kern";
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  font-family: 'Raleway', sans-serif;  
  font-style: normal;
  -moz-font-feature-settings: "liga", "clig", "onum", "frac", "kern";
  -webkit-font-feature-settings: "liga", "clig", "onum", "frac", "kern";
  -ms-font-feature-settings: "liga", "clig", "onum", "frac", "kern";
  font-feature-settings: "liga", "clig", "onum", "frac", "kern";
}

a {
  text-decoration-skip: ink;
}

.subtitle {
  font-style: italic;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-top: -0.3rem;
}

.featured .subtitle {
}

p {
}

ol, ul {
}

ol li, ul li {
}

main.container {
  padding: 1rem;
}

article {
}

footer.container {
  font-size: 0.7rem;
  padding: 1rem;
}

footer p {
  margin: 0;
  line-height: 1rem;
}

.navbar {
  padding-top: 1rem;
}

.navbar-link {
  margin-top: -0.3rem;
  font-size: 1.2rem;
}

.navbar-right {
}

.contact-list ul {
}
.contact-list li {
  display: inline;
}


.v-spacer {
  padding-top: 1rem;  
}

.featured .panel-header {
  text-align: right;
  font-style: italic;
  padding-top: 0;
  padding-right: 0.3rem;
  font-size: 0.8rem;
  color: #51596c;
}

.date {
  text-align: right;
  font-size: 0.8rem;
}
