@h3-css3-01: "\e900";
@h3-html5-01: "\e901";
@h3-prog-golang01: "\e902";
@h3-prog-bash02: "\e903";
@h3-prog-perl: "\e904";
@h3-prog-rails: "\e905";
@h3-prog-drupal: "\e907";
@h3-prog-php01: "\e908";
@h3-prog-nodejs01: "\e909";
@h3-prog-nodejs02: "\e90a";
@h3-prog-jquery: "\e90b";
@h3-prog-lua01: "\e90c";
@h3-prog-visualstudio: "\e90d";
@h3-prog-java: "\e90e";
@h3-prog-js02: "\e90f";
@h3-prog-objc: "\e910";
@h3-prog-ccplusplus: "\e911";
@h3-prog-cplusplus: "\e912";
@h3-prog-csharp: "\e913";
@h3-prog-js01: "\e914";
@h3-prog-ruby: "\e915";
@h3-prog-c: "\e916";
@h3-github-01: "\e918";
@h3-instagram: "\e919";
@h3-github-02: "\e91a";
@h3-angularjs: "\e91b";
@h3-prog-cakephp: "\e91d";
@h3-dropbox: "\e91e";
@h3-tl-toolbox: "\e91f";
@h3-vc-fossil: "\e920";
@h3-vc-bitbucket-01: "\e921";
@h3-vc-git: "\e922";
@h3-dbs-mongodb: "\e923";
@h3-dbs-mysql: "\e924";
@h3-os-apple: "\e925";
@h3-os-linux: "\e926";
@h3-os-win-04: "\e927";
@h3-os-ios: "\e928";
@h3-brw-chrome: "\e929";
@h3-dbs-sqlite: "\e92a";
@h3-os-osx_1: "\e92b";
@h3-brw-firefox: "\e92c";
@h3-brw-safari-01: "\e92d";
@h3-brw-safari-02: "\e92e";
@h3-brw-explorer: "\e92f";
@h3-brw-opera: "\e930";
@h3-android: "\e931";
@h3-hc-book-02: "\e932";
@h3-lb-book-01: "\e933";
@h3-lb-book-02: "\e934";
@h3-calendar-empty: "\e936";
@h3-terminal: "\e937";
@h3-clock: "\e938";
@h3-windows: "\e939";
@h3-twitter: "\e93b";
@h3-twitter-alt: "\e93c";
@h3-stumble_upon: "\e93d";
@h3-skype: "\e93e";
@h3-share: "\e93f";
@h3-reddit: "\e940";
@h3-rss: "\e941";
@h3-paypal: "\e942";
@h3-mail: "\e943";
@h3-amazon: "\e944";
@h3-tags: "\e945";
@h3-pin-3: "\e947";
@h3-tag: "\e948";
@h3-tablet: "\e949";
@h3-mobile: "\e94b";
@h3-google: "\e94c";
@h3-gmail: "\e94d";
@h3-foursquare_2: "\e94e";
@h3-com-laptop: "\e950";
@h3-foursquare_1: "\e951";
@h3-linkedin: "\e952";
@h3-anchor: "\e906";
@h3-axe: "\e917";
@h3-battered-axe: "\e91c";
@h3-bolt-shield: "\e935";
@h3-book: "\e93a";
@h3-broadsword: "\e946";
@h3-broken-shield: "\e94a";
@h3-burning-embers: "\e94f";
@h3-campfire: "\e954";
@h3-candle-fire: "\e957";
@h3-candle: "\e958";
@h3-capitol: "\e95a";
@h3-castle-emblem: "\e95d";
@h3-clockwork: "\e969";
@h3-clovers-card: "\e96b";
@h3-cog: "\e970";
@h3-cracked-shield: "\e976";
@h3-crossed-axes: "\e979";
@h3-crossed-sabres: "\e97c";
@h3-crossed-swords: "\e97d";
@h3-crystal-ball: "\e982";
@h3-daggers: "\e989";
@h3-diamond: "\e992";
@h3-diamonds-card: "\e993";
@h3-diamonds: "\e994";
@h3-dice-five: "\e995";
@h3-dice-four: "\e996";
@h3-dice-one: "\e997";
@h3-dice-six: "\e998";
@h3-dice-three: "\e999";
@h3-dice-two: "\e99a";
@h3-emerald: "\e9af";
@h3-eye-shield: "\e9b4";
@h3-feather-wing: "\e9bb";
@h3-feathered-wing: "\e9bc";
@h3-fire-shield: "\e9c1";
@h3-fire: "\e9c3";
@h3-fizzing-flask: "\e9c6";
@h3-flame-symbol: "\e9c7";
@h3-flat-hammer: "\e9cc";
@h3-forging: "\e9d3";
@h3-gear-hammer: "\e9db";
@h3-hammer: "\e9ee";
@h3-hand-emblem: "\e9ef";
@h3-hearts-card: "\e9f9";
@h3-heavy-shield: "\e9fd";
@h3-helmet: "\e9fe";
@h3-help: "\e9ff";
@h3-hydra: "\ea0b";
@h3-ice-cube: "\ea0c";
@h3-jigsaw-piece: "\ea12";
@h3-kettlebell: "\ea14";
@h3-key: "\ea16";
@h3-knife: "\ea19";
@h3-large-hammer: "\ea1d";
@h3-leaf: "\ea21";
@h3-lightning-bolt: "\ea2d";
@h3-lightning-trio: "\ea30";
@h3-load: "\ea34";
@h3-match: "\ea3a";
@h3-musket: "\ea49";
@h3-nuclear: "\ea4d";
@h3-octopus: "\ea50";
@h3-overhead: "\ea54";
@h3-perspective-dice-five: "\ea59";
@h3-perspective-dice-four: "\ea5a";
@h3-perspective-dice-one: "\ea5b";
@h3-perspective-dice-random: "\ea5c";
@h3-perspective-dice-six-two: "\ea5d";
@h3-perspective-dice-six: "\ea5e";
@h3-perspective-dice-three: "\ea5f";
@h3-potion: "\ea72";
@h3-quill-ink: "\ea75";
@h3-raven: "\ea7a";
@h3-relic-blade: "\ea7e";
@h3-round-shield: "\ea87";
@h3-rune-stone: "\ea89";
@h3-sapphire: "\ea8b";
@h3-save: "\ea8d";
@h3-scroll-unfurled: "\ea8f";
@h3-seagull: "\ea92";
@h3-shield: "\ea96";
@h3-sickle: "\ea9d";
@h3-sideswipe: "\ea9e";
@h3-small-fire: "\eaa3";
@h3-spades-card: "\eaa9";
@h3-speech-bubble: "\eaad";
@h3-speech-bubbles: "\eaae";
@h3-target-arrows: "\eac3";
@h3-telescope: "\eac7";
@h3-three-keys: "\eacc";
@h3-tower: "\ead2";
@h3-trefoil-lily: "\ead4";
@h3-trident: "\ead5";
@h3-trophy: "\ead7";
@h3-underhand: "\eadc";
@h3-vase: "\eade";
@h3-vial: "\eae1";
@h3-wooden-sign: "\eae9";
@h3-wyvern: "\eaeb";
