-----
filter: erb
-----
<article id="a_<%= @item[:permalink] %>">
	<header>
		<h2><a href="<%= @item.identifier %>"><%= @item[:title]%></a></h2>
		<% unless @item[:subtitle].blank? then %>
			<h3><%= @item[:subtitle] %></h3>
		<% end %>
	</header>
</article>
<hr />

