-----
filter: erb
-----
<ul class="article-meta">
	<li>Composed on <span class="date"><%= @article.attributes[:date].strftime("%A, %d %B %Y") %></span></li>
	<li>Archived as <%= tags_for(@article) %></li>
</ul>
