-----
filter: erb
-----
<li><a href="/articles/<%= @article.attributes[:permalink]%>/"><%= @article.attributes[:title]%></a> (<time class="timeago" datetime="<%=@article.attributes[:date].to_iso8601_time%>"><%= @article.attributes[:date].strftime("%A, %d %B %Y")%></time>)</li>
