-----
filter: erb
-----
<footer class="navbar-static-bottom" id="site-footer">
  <div class="container">
    <section class="row copyright">
      <p><span class="h3rald h3rald-footer"></span> Web Site v8.4 &copy; 2004 &mdash; <%= Time.now.strftime("%Y") %> <em>Fabio Cevasco</em></p>
    </section>
    <section class="row">
      <div class="contact-list col-md-4">
        <h1>Contact</h1>
        <p>This site was made by Fabio Cevasco. For more information, see the <a href="/about/">About</a> page.</p>
        <p>To contact me, use the links below.</p>
        <ul>
          <li><i class="fa fa-envelope"></i> <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#104;&#51;&#114;&#97;&#108;&#100;&#64;&#104;&#51;&#114;&#97;&#108;&#100;&#46;&#99;&#111;&#109;'>&#104;&#51;&#114;&#97;&#108;&#100;&#64;&#104;&#51;&#114;&#97;&#108;&#100;&#46;&#99;&#111;&#109;</a></li>
          <li><i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/in/fabiocevasco" title="LinkedIn">fabiocevasco</a></li>
          <li><i class="fa fa-twitter"></i> <a href="http://twitter.com/h3rald" title="Twitter">@h3rald</a></li>
          <li><i class="fa fa-bookmark"></i> <a href="http://pinboard.in/u:h3rald/" title="Pinboard">h3rald</a></li>
          <li><i class="fa fa-instagram"></i> <a href="http://instagram.com/h3rald/" title="Instagram">h3rald</a></li>
          <li><i class="fa fa-github"></i> <a href="https://github.com/h3rald" title="Github">h3rald</a></li>
          <li><i class="fa fa-foursquare"></i> <a href="http://foursquare.com/h3rald" title="Foursquare">h3rald</a></li>
        </div>
      </ul>
      <div class="col-md-4">
        <h1>License</h1>
        <p>Unless stated otherwise, all the articles and content published on this web site is licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-Noncommercial-No Derivative Works 3.0 Unported License</a>.</p>

        <p class="license-logo">
        <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" />
        </p>

        <p>The source code of this web site, such as its layout, SASS/CSS stylesheets, custom rake tasks and code is licensed under the terms of the <a href="http://creativecommons.org/licenses/MIT/">MIT License</a> and it is available on <a href="https://github.com/h3rald/h3rald">GitHub</a>.</p>
      </div>
      <div class="col-md-4">
        <h1>Credits</h1>
        <p>Special thanks to the following people, who made this web site possible:</p>
        <ul>
          <li>
          <a href="http://www.stoneship.org/">Denis Defreyne</a>, creator of the exceptional <a href="http://nanoc.stoneship.org/">nanoc</a> static site generator.
          </li>
          <li>
          <a href="http://scholarsfonts.net/">David J. Perry</a>, who designed the <a href="http://scholarsfonts.net/cardofnt.html">Cardo</a> font used for the H3RALD logo.
          </li>
          <li>
          The creators of the <a href="http://font.ubuntu.com/">Ubuntu</a> font, used throughout this web site.
          </li>
          <li>
          <a href="https://twitter.com/mdo">Mark Otto</a> and <a href="https://twitter.com/fat">fat-kun</a>, creators of the awesome <a href="http://getbootstrap.com">Bootstrap</a> framework.
          </li>
          <li>
          <a href="http://twitter.com/davegandy">Dave Gandy</a>, designer of the <a href="http://fontawesome.io/">FontAwesome</a> font, used for all the icons on this web site.
          </li>
        </ul>
      </div>
    </section>
  </div>
</footer>
