-----
filter: erb
-----
<nav class="home">
<%= ['projects', 'links'].map{|l| %{<a href="/#{l}/"><strong>#{l.upcase}</strong></a>} }.join("|") + "|" + 
['review', 'ruby', 'opensource', 'productivity', 'writing', 'software'].map{|l| %{<a href="/tags/#{l}/" rel="tag">#{l.upcase}</a>} }.join("|") +
%{|<a href="/archives/" rel="archives"><strong>MORE</strong></a> } %>
</nav>
<header class="home">
	<nav class="left social">
		<ul>
			<li><a href="http://foursquare.com/h3rald" rel="external"><img src="/images/social/foursquare.png" alt="FourSquare" /></a></li>
			<li><a href="http://www.twitter.com/h3rald" rel="external"><img src="/images/social/twitter.png" alt="RSS" /></a></li>
			<li><a href="http://it.linkedin.com/in/fabiocevasco" rel="external"><img src="/images/social/linkedin.png" alt="LinkedIn" /></a></li>
		</ul>
	</nav>
	<h1>
    <span class="logo">
      <span class="hrald"><span class="h">H</span>&nbsp;<span class="rald">RALD</span></span>
      <span class="three">3</span>
      <span class="h_line"></span><span class="rald_line"></span>
      <span class="established"><span class="est">EST</span><span class="d">D</span>&nbsp;<span class="year">2004</span></span>
		</a>
    </span>
	</h1>
	<nav class="right social">
    <ul>
			<li><a href="https://github.com/h3rald" rel="external"><img src="/images/social/github.png" alt="GitHub" /></a></li>
			<li><a href="http://reddit.com/user/h3rald" rel="external"><img src="/images/social/reddit.png" alt="Reddit" /></a></li>
			<li><a href="http://web.stagram.com/n/h3rald/?vm=grid" rel="external"><img src="/images/social/instagram.png" alt="Instagram" /></a></li>
		</ul>
	</nav>
</header>
