-----
filter: erb
-----
<nav class="project-links">
	<%= @item.attributes[:links].map{ |l| 
		res=nil; l.each_pair{ |label, value| res = %{<a href="#{value}">#{label.to_s.upcase}</a>}}; res 
	}.join(" | ") %>
</nav>
<ul class="project-data">
	<li>Project Status: <strong><%= @item.attributes[:status] %></strong></li>
	<li>Version: <strong><%= @item.attributes[:version]%></strong></li>
</ul>
