-----
filter: erb
-----
<div id="services">
	<div class ="footer-left">
		<div id="backtype">
			<h3><a href="http://www.backtype.com/h3rald"><img src="/images/theme/buttons/opinions.png" class="hover" alt="OPINIONS"/></a></h3>
		</div>
	</div>
	<div class ="footer-center">
		<div id="twitter">
			<h3><a href="http://www.twitter.com/h3rald"><img src="/images/theme/buttons/tweets.png" class="hover" alt="TWEETS"/></a></h3>
		</div>
	</div>
	<div class ="footer-right">
		<div id="delicious">
			<h3><a href="http://www.delicious.com/h3rald"><img src="/images/theme/buttons/bookmarks.png" class="hover" alt="BOOKMARKS"/></a></h3>
		</div>
	</div>
</div> <!-- SERVICES END -->

