-----
filter: erb
-----
<div id="services">
	<div class ="footer-left">
		<div id="backtype">
			<h3><span class="s-opinions preload"></span><a id="s-opinions" href="http://www.backtype.com/h3rald" title="Opinions"></a></h3>
		</div>
	</div>
	<div class ="footer-center">
		<div id="twitter">
			<h3><span class="s-tweets preload"></span><a id="s-tweets" href="http://www.twitter.com/h3rald" title="Tweets"></a></h3>
		</div>
	</div>
	<div class ="footer-right">
		<div id="delicious">
			<h3><span class="s-bookmarks preload"></span><a id="s-bookmarks" href="http://www.delicious.com/h3rald" title="Bookmarks"></a></h3>
		</div>
	</div>
</div> <!-- SERVICES END -->

