-----
filter: erb
-----
<div id="services">
	<div class ="footer-left">
		<div id="backtype">
			<h3><a href="http://www.backtype.com/h3rald">Opinions</a></h3>
		</div>
	</div>
	<div class ="footer-center">
		<div id="twitter">
			<h3><a href="http://www.twitter.com/h3rald">Tweets</a></h3>
		</div>
	</div>
	<div class ="footer-right">
		<div id="delicious">
			<h3><a href="http://www.delicious.com/h3rald">Bookmarks</a></h3>
		</div>
	</div>
</div> <!-- SERVICES END -->

