<div class="container article-aggregation">
  <div class="input-group archives-search">
    <input type="text" class="form-input" placeholder="Search articles...">
    <button class="btn btn-primary input-group-btn"><i class="ent ent-magnifying-glass"></i></button>
  </div>
  <div class="timeline">
  {{#archives}}
    <div class="timeline-item">
      <div class="timeline-left">
        <div class="timeline-icon icon-lg">
          <i class="ent ent-calendar"></i>
        </div>
      </div>
      <div class="timeline-content">
        <div class="tile">
          <div class="tile-content">
            <p class="tile-subtitle">{{month}}</p>
          </div>
        </div>
      </div>
    </div>
    {{#articles}}
    <div class="timeline-item">
      <div class="timeline-left">
        <div class="timeline-icon">
        </div>
      </div>
      <div class="timeline-content">
        <div class="tile">
          <div class="tile-content">
            <p class="tile-subtitle">
              {{date}} &mdash; <a href="{{id}}">{{title}}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    {{/articles}}
  {{/archives}}
  </div>
</div>
