<div class="container archives">
  <div class="timeline clearfix d-none">
  {{#archives}}
    <h3>{{month}}</h3>
    <ul>
    {{#articles}}
      <li>
        {{date}} &mdash; <a href="/{{id}}">{{title}}</a>
      </li>
    {{/articles}}
    </ul>
  {{/archives}}
  </div>
</div>
