<footer class="container">
  <div class="centered text-center">
    <p><span class="h3rald h3rald-footer"></span> Web Site v9.0.0</p> 
    <p>&copy; 2004 &mdash; 2017 <em>Fabio Cevasco</em></p>
     <p class="license-icons">
      <i class="ent ent-creative-commons"></i>
      <i class="ent ent-creative-commons-attribution"></i>
      <i class="ent ent-creative-commons-noncommercial-eu"></i>
      <i class="ent ent-creative-commons-sharealike"></i>
    </p>
    <p>Unless stated otherwise, all the content published on this web site is licensed under 
    the <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    The source code of this web site, such as its layout, stylesheets, custom min rules and code is licensed under the terms of the 
      <a href="https://opensource.org/licenses/mit-license.php"><span class="caps">MIT</span> License</a> and it is available
      on <a href="https://github.com/h3rald/h3rald">GitHub</a>.
    </p>
  </div>
</footer>
