<footer class="sidebar">
    <p><span class="h3rald"></span> Web Site v9.2.1</p> 
    <p>&copy; 2004&mdash;2020 &bull; <em>Fabio Cevasco</em></p>
      <ul class="inline">
        <li><a title="email" href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#104;&#51;&#114;&#97;&#108;&#100;&#64;&#104;&#51;&#114;&#97;&#108;&#100;&#46;&#99;&#111;&#109;'>
          <i class="ent ent-mail"></i>
        </a></li>
        <li><a title="LinkedIn" href="https://www.linkedin.com/in/fabiocevasco" rel="me">
          <i class="ent ent-linkedin"></i>
        </a></li>
        <li><a title="Twitter" href="http://twitter.com/h3rald" rel="me">
          <i class="ent ent-twitter"></i>
        </a></li>
        <li><a title="Pinboard" href="http://pinboard.in/u:h3rald/" rel="me">
          <i class="ent ent-pin"></i>
        </a></li>
        <li><a title="Instagram" href="http://instagram.com/h3rald/" rel="me">
          <i class="ent ent-instagram"></i>
        </a></li>
        <li><a title="GitHub" href="https://github.com/h3rald" rel="me">
          <i class="ent ent-github"></i>
        </a></li>
        <li><a title="Flickr" href="https://www.flickr.com/photos/h3rald/" rel="me">
          <i class="ent ent-flickr"></i>
        </a></li>
        <li><a title="FourSquare" href="http://foursquare.com/h3rald" rel="me">
          <i class="ent ent-foursquare"></i>
        </a></li>
      </ul>
    <p>Unless stated otherwise, all the content published on this web site is licensed under 
    the <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    The source code of this web site, such as its layout, stylesheets, custom min rules and code is licensed under the terms of the 
      <a href="https://opensource.org/licenses/mit-license.php"><span class="caps">MIT</span> License</a> and it is available
      on <a href="https://github.com/h3rald/h3rald">GitHub</a>.
    </p>
    <p class="license-icons">
      <i class="ent ent-creative-commons"></i>
      <i class="ent ent-creative-commons-attribution"></i>
      <i class="ent ent-creative-commons-noncommercial-eu"></i>
      <i class="ent ent-creative-commons-sharealike"></i>
    </p>
</footer>
<script src="/js/es6-shim.min.js" type="text/javascript"></script>
<script src="/js/axios.min.js" type="text/javascript"></script>
<script src="/js/highlight.pack.js" type="text/javascript"></script>
