<footer class="sidebar">
    <hr>
    <p><img src="/images/logo-light.svg" alt="H3RALD" class="logo-mini"> Web Site v9.3.0</p> 
    <p>&copy; 2004&mdash;2023 &bull; <em>Fabio Cevasco</em></p>
    <div class="navlinks">
      <a class="navbar-link" href="/about/">about</a>
      &middot;
      <a class="navbar-link" href="/now/">now</a>
      &middot;
      <a class="navbar-link" href="/grimoire/">grimoire</a>
    </div>
    <p>Unless stated otherwise, all the content published on this web site is licensed under 
    the <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    The source code of this web site, such as its layout, stylesheets, custom min rules and code is licensed under the terms of the 
      <a href="https://opensource.org/licenses/mit-license.php"><span class="caps">MIT</span> License</a> and it is available
      on <a href="https://github.com/h3rald/h3rald">GitHub</a>.
    </p>
    <p class="license-icons">
      <img src="/images/entypo/creative-commons.svg" alt="[CC]" class="icon">
      <img src="/images/entypo/creative-commons-attribution.svg" alt="[CC-A]" class="icon">

      <img src="/images/entypo/creative-commons-noncommercial-eu.svg" alt="[CC-NC]" class="icon">

      <img src="/images/entypo/creative-commons-sharealike.svg" alt="[CC-SA]" class="icon">
    </p>
    <p>
      <a href="https://webring.xxiivv.com/" target="_blank" rel="noopener" class="icon-link">
   <img src="/images/rotonde.svg" alt="xxiivv webring">
      </a>
      <a href="https://merveilles.town/@h3rald" target="_blank" rel="noopener" class="icon-link">
   <img src="/images/merveilles.svg" alt="@h3rald@merveilles.town">
      </a>
      <a href="https://lieu.cblgh.org" target="_blank" rel="noopener" class="icon-link">
   <img src="/images/lieu.svg" alt="lieu" class="icon-link">
      </a>
    </p>
</footer>
