	<head>
    <title>{{title}} - H3RALD</title>
		<meta charset="utf-8" />
		<meta name="author" content="Fabio Cevasco" />
		<meta name="robots" content="all, follow" />
		<meta name="Revisit-After" content="2 Days" />
		<meta name="description" content="H3RALD - Fabio Cevasco's Web Site" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="{{keywords}}" />
		<link rel="shortcut icon" href="/favicon.png" type="image/png" /> 
		<meta content="44.388041;9.073248" name="ICBM" />
		<link rel="stylesheet" type="text/css" href="/styles/entypo.css" />
		<link rel="stylesheet" type="text/css" href="/styles/fonts.css" />
		<link rel="stylesheet" type="text/css" href="/styles/atom-one-dark.css" class="theme-css-link" />
		<link rel="stylesheet" type="text/css" href="/styles/flexboxgrid.min.css" />
		<link rel="stylesheet" type="text/css" href="/styles/flexboxgrid-helpers.min.css" />
		<link rel="stylesheet" type="text/css" href="/styles/dark-theme.css" class="theme-css-link" />
	</head>
