<header class="main-header box">
  <h1>
      <a href="/" title="H3RALD">
        <img src="/images/logo-light.svg" alt="H3RALD" class="logo light-mode-hide">
        <img src="/images/logo-dark.svg" alt="H3RALD" class="logo dark-mode-hide">
      </a>
  </h1>
  <div class="navlinks">
    <div class="navlinks-secondary-row">
      &rarr; <a href="https://code.h3rald.com" class="navbar-link">code</a>
      &rarr; <a href="https://nifty.tools" class="navbar-link">tools</a>
      &rarr; <a href="https://2c.fyi" class="navbar-link">bookmarks</a>
    </div>
    <div class="navlinks-primary-row">
      <a href="/now" class="navbar-link">now</a>
      &middot;
      <a href="/articles" class="navbar-link">articles</a>
      &middot;
      <a href="/projects" class="navbar-link">projects</a>
      &middot;
      <a href="/grimoire" class="navbar-link">grimoire</a>
    </div>
  </div>
</header>
