<header class="navbar">
  <section class="navbar-section"></section>
  <section class="navbar-center">
    <a href="/archives" class="navbar-link navbar-left">articles</a>
    <a href="/" class="h3rald h3rald-header" alt="H3RALD">&nbsp;</a>
    <a href="/projects" class="navbar-link navbar-right">projects</a>
  </section>
  <section class="navbar-section"></section>
</header>
