	<head>
    <title>{{title}} - H3RALD</title>
		<meta charset="utf-8" />
		<meta name="author" content="Fabio Cevasco" />
		<meta name="robots" content="all, follow" />
		<meta name="Revisit-After" content="2 Days" />
		<meta name="description" content="H3RALD - Fabio Cevasco's Web Site" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="{{keywords}}" />
		<link rel="shortcut icon" href="/favicon.png" type="image/png" /> 
		<meta content="44.388041;9.073248" name="ICBM" />
		<link rel="stylesheet" type="text/css" href="/styles/entypo.css" />
		<link rel="stylesheet" type="text/css" href="/styles/fonts.css" />
		<link rel="stylesheet" type="text/css" href="/styles/atom-one-light.css" />
		<link rel="stylesheet" type="text/css" href="/styles/flexboxgrid.min.css" />
		<link rel="stylesheet" type="text/css" href="/styles/flexboxgrid-helpers.min.css" />
		<link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <script src="/js/es6-shim.min.js" type="text/javascript"></script>
    <script src="/js/axios.min.js" type="text/javascript"></script>
    <script src="/js/highlight.pack.js" type="text/javascript"></script>
	</head>
