<header class="main-header box">
  <h1><a href="/" title="H3RALD"><img src="/images/logo-light.svg" alt="H3RALD" class="logo" /></a></h1>
  <div class="navlinks">
    <a href="/articles" class="navbar-link">/articles</a>
    &middot;
    <a href="/projects" class="navbar-link">/projects</a>
    &middot;
    <a href="/kb" class="navbar-link">/kb</a>
  </div>
</header>
