<div class="panel">
  <div class="panel-header">
    featured articles
  </div>
  <div class="panel-body">
    <article>
    <header>
    <h3><a href="/articles/randal-schwartz/">A pizza with Randal Schwartz</a></h3>
    <p class="secondary-subtitle">Talking about open source, programming, emacs and technical writing</p>
    </header>
    </article>
    <article>
    <header>
    <h3><a href="/articles/herald-vim-color-scheme/">Herald (Vim Color Scheme)</a></h3>
    <p class="secondary-subtitle">My very own VIM color scheme. Featuring 256, 16 and 8 color support, high readability and... pretty colors!</p>
    </header>
    </article>
    <article>
    <header>
    <h3><a href="/articles/10-programming-languages/">10 programming languages worth checking out</a></h3>
    <p class="secondary-subtitle">A quick comparison of 10 non-mainstream programming languages</p>
    </header>
    </article>
  </div>
</div>
<div class="panel">
  <div class="panel-header">
    featured projects
  </div>
  <div class="panel-body">
    <article>
    <header>
    <h3><a href="/min/">min</a></h3>
    <p class="secondary-subtitle">A tiny concatenative programming language and system shell, providing a small standard library with regular expression support, cryptography, file management, and more.</p>
    </header>
    </article>
    <article>
    <header>
    <h3><a href="/hastyscribe/">HastyScribe</a></h3>
    <p class="secondary-subtitle">A self-contained Markdown to HTML compiler based on discount but including additional features such as support for snippets, custom fields, simple macros and more.</p>
    </header>
    </article>
  </div>
</div>
<div class="panel">
  <div class="panel-header">
    credits
  </div>
  <div class="panel-body">
    <p class="leading">Special thanks to the following people, who made this web site possible:</p>
    <ul>
      <li>
      <a href="http://scholarsfonts.net/">David J. Perry</a>, who designed the <a href="http://scholarsfonts.net/cardofnt.html">Cardo</a> font used for the H3RALD logo.
      </li>
      <li>
      <a href="http://atipo.es/en/">atipo</a>, who designed the <a href="http://atipofoundry.com/fonts/noway">Noway</a> font, used throughout this web site.
      </li>
      <li>
      <a href="http://www.danielbruce.se/">Daniel Bruce</a>, designer of the <a href="http://www.entypo.com/">Entypo</a> font, used for the icons on this web site.
      </li>
    </ul>
  </div>
</div>
