<div class="panel-wrapper col-xs-12 col-md-6">
  <div class="panel">
  <div class="panel-header">
    featured projects
  </div>
  <div class="panel-body">
    <article>
      <header>
      <h3><a href="/min/">min</a></h3>
      <p class="secondary-subtitle">A tiny concatenative programming language and system shell, providing a small standard library with regular expression support, cryptography, file management, and more.</p>
      </header>
    </article>
    <article>
      <header>
      <h3><a href="/litestore/">LiteStore</a></h3>
      <p class="secondary-subtitle">A self-contained, lightweight NoSQL data store, featuring a RESTful API, full-text search, JWT token validation and authorization support, server-side JavaScript middleware, and more.</p>
      </header>
    </article>
    <article>
      <header>
      <h3><a href="/hastyscribe/">HastyScribe</a></h3>
      <p class="secondary-subtitle">A self-contained Markdown to HTML compiler based on discount but including additional features such as support for snippets, custom fields, simple macros and more.</p>
      </header>
    </article>
  </div>
  </div>
</div>
<div class="panel-wrapper col-xs-12 col-md-6">
  <div class="panel">
  <div class="panel-header">
    featured articles
  </div>
  <div class="panel-body">
    <article>
      <header>
      <h3><a href="/articles/randal-schwartz/">A pizza with Randal Schwartz</a></h3>
      <p class="secondary-subtitle">Talking about open source, programming, emacs and technical writing</p>
      </header>
    </article>
    <article>
      <header>
      <h3><a href="/articles/10-programming-languages/">10 programming languages worth checking out</a></h3>
      <p class="secondary-subtitle">A quick comparison of 10 non-mainstream programming languages</p>
      </header>
    </article>
    <article>
      <header>
      <h3><a href="/articles/10-more-programming-languages">10 more programming languages worth checking out</a></h3>
      <p class="secondary-subtitle">Another look at 10 non-mainstream programming languages, 10 years later</p>
      </header>
    </article>
  </div>
  </div>
</div>
