<div class="panel-wrapper col-xs-12 col-md-6">
  <div class="panel">
  <div class="panel-header">
    featured projects
  </div>
  <div class="panel-body">
    <article>
      <header>
      <h3><a href="/min/">min</a></h3>
      <p class="secondary-subtitle">A tiny concatenative programming language and system shell, providing a small standard library with regular expression support, cryptography, file management, and more.</p>
      </header>
    </article>
    <article>
      <header>
      <h3><a href="/hex/">hex</a></h3>
      <p class="secondary-subtitle">A tiny, minimalist, concatenative, stack-based and slightly-esoteric programming language inspired by <em>min</em> that can run on many platforms and can be used as an embedded language, to create shell scripts, or simply to learn more about concatenative programming.</p>
      </header>
    </article>
    <article>
      <header>
      <h3><a href="/litestore/">LiteStore</a></h3>
      <p class="secondary-subtitle">A self-contained, lightweight NoSQL data store, featuring a RESTful API, full-text search, JWT token validation and authorization support, server-side JavaScript middleware, and more.</p>
      </header>
    </article>
  </div>
  </div>
</div>
<div class="panel-wrapper col-xs-12 col-md-6">
  <div class="panel">
  <div class="panel-header">
    featured articles
  </div>
  <div class="panel-body">
    <article>
      <header>
      <h3><a href="/articles/twenty-years/">This web site is 20 years old</a></h3>
      <p class="secondary-subtitle">On March 28th, 2004, H3RALD.com was born</p>
      </header>
    </article>
    <article>
      <header>
      <h3><a href="/articles/10-programming-languages/">10 programming languages worth checking out</a></h3>
      <p class="secondary-subtitle">A quick comparison of 10 non-mainstream programming languages</p>
      </header>
    </article>
    <article>
      <header>
      <h3><a href="/articles/10-more-programming-languages">10 more programming languages worth checking out</a></h3>
      <p class="secondary-subtitle">Another look at 10 non-mainstream programming languages, 10 years later</p>
      </header>
    </article>
  </div>
  </div>
</div>
