  <div class="card">
    <div class="card-header">
      <div class="card-title h5">
        {{#active}}
        <small class="label label-success">active</small>
        {{/active}}
        {{#inactive}}
        <small class="label label-warning">inactive</small>
        {{/inactive}}
        {{title}}
        &middot; v{{version}}
      </div>
    </div>
    <div class="card-body">
        {{summary}}
    </div>
    <div class="card-footer">
      {{#home}}
      <a href="{{home}}" class="action">
        info
      </a>
      {{/home}}
      {{#github}}
      <a href="https://github.com/h3rald/{{github}}" class="action">
        source
      </a>
      <a href="https://github.com/h3rald/{{github}}/issues" class="action">
        issues
      </a>
      {{/github}}
      {{#docs}}
      <a href="{{docs}}" class="action">
        docs
      </a>
      {{/docs}}
    </div>
  </div>
