  <div class="card">
    <div class="card-header">
      <div class="card-title h5">
        {{#active}}
        <small class="badge badge-success"></small>
        {{/active}}
        {{#inactive}}
        <small class="badge badge-warning"></small>
        {{/inactive}}
        {{#home}}
          <a href="{{home}}">
        {{/home}}
        {{title}}
        {{#home}}
          </a>
        {{/home}}
        <div class="project-version">
        v{{version}}
        </div>
      </div>
    </div>
    <div class="card-body">
        {{summary}}
    </div>
  </div>
