<div class="container article-aggregation">
  {{#tag-columns}}
  <div class="row">
    {{#tags}}
    <div class="col-md-3"><i class="h3-tag"></i> <a href="/tags/{{tag}}/">{{tag}}</a> ({{count}})</div>
    {{/tags}}
  </div>
  {{/tag-columns}}
</div>
