    <input id="color-mode" type="checkbox" name="color-mode">
    <label for="color-mode">
      <span class="dark-mode-hide">Dark Mode</span>
      <span class="light-mode-hide">Light Mode</span>
    </label>
