    <input id="theme-switcher" type="checkbox" name="theme-switcher">
    <label for="theme-switcher" class="themed-content">
      <span class="dark-mode-hide theme-switcher-icon">:moon:</span>
      <span class="light-mode-hide theme-switcher-icon">:light-up:</span>
    </label>
