<!DOCTYPE html>
<html lang="en">
  {{> _head}}
	<body>
    <div id="wrap">
      {{> _header}}
      <main class="container">
        <article class="{{content-type}}">
          <div class="row">
            {{> _page_header}}
            <time datetime="{{date-iso8601}}"><i class="ent ent-calendar"></i>&nbsp;{{date}}</time>
          </div>
          <div class="body-text" class="hyphenate">
            {{{contents}}}
					</div>
				</article>
      </main>
      {{> _footer}}
    </div> 
	</body>
</html>
