<!DOCTYPE html>
<html lang="en">
  {{> _head}}
  <body id="top">
    {{> _theme_switcher}} 
    <div class="main container-fluid themed-content">
      <div class="row header">
        <div class="col-xs-12 sidebar">
          {{> _header}}
        </div>
      </div>
      <div class="row main-content days">
          <article class="{{content-type}} box content">
          {{> _page_header}}
          <div id="body-text" class="hyphenate">
            <p>This page is my daily photo stream, inspired by 
            <a href="https://rabbits.srht.site/days/" target="_blank">Hundred Rabbits's /days page</a> 
            and <a href="https://img.corvid.cafe" target="_blank">img.corvid.cafe</a>.</p>
            <p>It contains <em>at most</em> one image per day.</p>
            {{#days}}
              <h3 id="{{date}}"><time datetime="{{date}}">{{title}}</time></h3>
              {{#image}}
              <figure>
                <img src="{{image}}" alt="{{date}}" loading="lazy" />
              {{#text}}
              <figcaption>
                <div class="caption">{{text}}</div>
              </figcaption>
              {{/text}}
              </figure>
              {{/image}}
            {{/days}}
          </div>
          </article>
      </div>
      <div class="row footer">
        <div class="col-xs-12">
          {{> _footer}}
        </div>
      </div>
    </div>
  </body>
</html>
