<!DOCTYPE html>
<html lang="en">
  {{> _head}}
  <body id="top">
    {{> _theme_switcher}} 
    <div class="main container-fluid themed-content">
      <div class="row header">
        <div class="col-xs-12 sidebar">
          {{> _header}}
        </div>
      </div>
      <div class="row main-content">
          <article class="{{content-type}} box content">
          {{> _page_header}}
          <div id="body-text" class="hyphenate">
            <p>A <em>grimoire</em> is a book of spells. If you &mdash;like me in the '90s&mdash; ever played <a href="https://en.wikipedia.org/wiki/Magic:_The_Gathering">Magic: The Gathering</a>,
          then you'll already know that.</p>
          <p>However, in this case we are not talking about conjuring unicorns or moving objects using telekinesis, but rather unlocking the 
          forbidden powers of the command line. </p>
          <p>The <strong>{{grimoire-count}}</strong> <em>spells</em> contained in these pages are powerful commands, scripts, and similar incantations
          that help me every so often to complete a task in a fast, efficient way.</p>

          <h3>List of Spells</h3>
            <ul>
            {{#spells}}
              <li><a href="/{{rawid}}">{{title}}</a></li>
            {{/spells}}
            </ul>
          </div>
          </article>
      </div>
      <div class="row footer">
        <div class="col-xs-12">
          {{> _footer}}
        </div>
      </div>
    </div>
  </body>
</html>
