<!DOCTYPE html>
<html lang="en">
  {{> _head}}
	<body>
    <div id="wrap">
      {{> _header}}
      <main id="main" class="container">
        {{{contents}}}
      </main>
      {{> _footer}}
    </div>
	</body>
</html>
