<!DOCTYPE html>
<html lang="en">
  {{> _head}}
  <body>
    <div id="wrap">
      {{> _header}}
      <main id="main" class="container">
      <div class="columns">
        <div class="column col-xs-12 col-md-6">
          <article>
            <h2><a href="/{{latest.id}}">{{latest.title}}</a></h2>
            <p class="subtitle">
              {{latest.subtitle}}
            </p>
            <time><i class="ent ent-calendar"></i> {{latest.date}}</time></p>
            <section class="body-text">
              {{{latest.summary}}}
              <p><a href="/{{latest.id}}">Continue reading →</a></p>
            </section>
          </article>
          <div class="divider text-center" data-content="more recent articles"></div>
          {{#recents}}
            <article>
              <h4><a href="/{{id}}">{{title}}</a></h4>
              <p class="subtitle">
                {{subtitle}}
              </p>
              <time><i class="ent ent-calendar"></i> {{date}}</time></p>
            </article>
          {{/recents}}
        </div>
        <div class="column col-xs-12 col-md-6">
          <div class="panel featured">
            <div class="panel-header">
              featured articles
            </div>
            <div class="panel-body">
              <article id="a_randal-schwartz">
              <header>
              <h3><a href="/articles/randal-schwartz/">A pizza with Randal Schwartz</a></h3>
              <p class="subtitle">Talking about open source, programming, emacs and technical writing</p>
              </header>
              </article>
              <article id="a_herald-vim-color-scheme">
              <header>
              <h3><a href="/articles/herald-vim-color-scheme/">Herald (Vim Color Scheme)</a></h3>
              <p class="subtitle">My very own VIM color scheme. Featuring 256, 16 and 8 color support, high readability and... pretty colors!</p>
              </header>
              </article>
              <article id="a_10-programming-languages">
              <header>
              <h3><a href="/articles/10-programming-languages/">10 programming languages worth checking out</a></h3>
              <p class="subtitle">A quick comparison of 10 non-mainstream programming languages</p>
              </header>
              </article>
            </div>
          </div>
          <div class="v-spacer"></div>
          <div class="panel featured">
            <div class="panel-header">
              featured projects
            </div>
            <div class="panel-body">
              <div class="columns">
                <div class="column col-xs-12 col-md-6">
                  <h3><a href="/min/">min</a></h3>
                  <p>A tiny concatenative programming language and system shell, providing a small standard library with regular expression support, cryptography, file management, and more.</p>
                </div>
                <div class="column col-xs-12 col-md-6">
                  <h3><a href="/hastyscribe/">HastyScribe</a></h3>
                  <p>A self-contained Markdown to HTML compiler based on discount but including additional features such as support for snippets, custom fields, simple macros and more.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="v-spacer"></div>
          <div class="panel featured">
            <div class="panel-header">
              credits
            </div>
            <div class="panel-body">
              <p>Special thanks to the following people, who made this web site possible:</p>
              <ul>
                <li>
                <a href="http://scholarsfonts.net/">David J. Perry</a>, who designed the <a href="http://scholarsfonts.net/cardofnt.html">Cardo</a> font used for the H3RALD logo.
                </li>
                <li>
                <a href="https://www.theleagueofmoveabletype.com/members/matt">Matt McInerney</a>, who designed the <a href="https://www.theleagueofmoveabletype.com/raleway">Raleway</a> font, used throughout this web site.
                </li>
                <li>
                <a href="https://twitter.com/picturepan2">Yan Zhu</a>, the creator of the <a href="https://picturepan2.github.io/spectre/">Spectre</a> CSS framework, used as the basis for the styling of this web site.
                </li>
                <li>
                <a href="http://www.danielbruce.se/">Daniel Bruce</a>, designer of the <a href="http://www.entypo.com/">Entypo</a> font, used for the icons on this web site.
                </li>
              </ul>
            </div>
          </div>
          <div class="v-spacer"></div>
        </div>
      </div>
      </main>
      {{> _footer}}
    </div>
  </body>
</html>
