<!DOCTYPE html>
<html lang="en">
  {{> _head}}
  <body>
    {{> _theme_switcher}} 
    <div class="main container-fluid themed-content">
      <div class="row header">
        <div class="col-xs-12 sidebar">
          {{> _header}}
        </div>
      </div>
      <div class="row main-content">
          <article class="{{content-type}} box content">
          {{> _page_header}}
          <div class="body-text hyphenate">
            {{{contents}}}
          </div>
          </article>
      </div>
      <div class="row footer">
        <div class="col-xs-12">
          {{> _footer}}
        </div>
      </div>
    </div>
  </body>
</html>
