<!DOCTYPE html>
<html lang="en">
  {{> _head}}
  <body>
    {{> _theme_switcher}} 
    <div class="main container-fluid themed-content">
      <div class="row">
        <div class="col-xs-12 sidebar">
          {{> _header}}
        </div>
      </div>
      <div class="row main-content">
          <article class="{{content-type}} box content">
          {{> _page_header}}
          {{#github}}
          <div class="card project-card">
            <div class="card-footer">
              <a href="https://github.com/h3rald/{{github}}" class="action">
                source
              </a>
              <a href="https://github.com/h3rald/{{github}}/issues" class="action">
                issues
              </a>
              {{#site}}
              <a href="{{site}}" class="action">
                site
              </a>
              {{/site}}
              {{#docs}}
              <a href="{{docs}}" class="action">
                docs
              </a>
              {{/docs}}
            </div>
            <p class="badges">
            <img src="https://img.shields.io/github/release/h3rald/{{github}}/all.svg" style="vertical-align: middle;"/>
            <img src="https://img.shields.io/github/license/h3rald/{{github}}.svg" style="vertical-align: middle;"/>
            <img src="https://img.shields.io/github/last-commit/h3rald/{{github}}.svg" style="vertical-align: middle;"/>
            {{#ci}}
            <img src="https://img.shields.io/github/actions/workflow/status/h3rald/{{github}}/ci.yml" style="vertical-align: middle;"/>
            {{/ci}}
            </p>
          </div>
          {{/github}}
          <div class="body-text hyphenate">
            {{{contents}}}
          </div>
          </article>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{> _footer}}
        </div>
      </div>
    </div>
  </body>
</html>
