<!DOCTYPE html>
<html lang="en">
  {{> _head}}
  <body>
    {{> _theme_switcher}} 
    <div class="main container-fluid themed-content">
      <div class="row">
        <div class="col-xs-12 sidebar">
          {{> _header}}
        </div>
      </div>
      <div class="row main-content">
        <div class="col-xs-12">
          <article class="{{content-type}} box content">
          {{> _page_header}}
          <p>This page lists <strong>{{projects-count}}</strong> projects that I am currently working on or that I worked on in the past.</p>
          <div id="body-text" class="hyphenate">
            {{#active-projects}}
              {{> _project}}
            {{/active-projects}}
            {{#inactive-projects}}
              {{> _project}}
            {{/inactive-projects}}
          </div>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{> _footer}}
        </div>
      </div>
    </div>
  </body>
</html>
