li.comment
{
	list-style-type: none;
	margin: 10px 0;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 20px;
	clear: both;
	display: block;
}

#content li.comment p
{
	line-height:1.5em;
	margin: 0.5em 0em;
}


li.comment li
{
  list-style-type: disc;
  margin: 0;
  margin-left: 40px;
  padding: 3px;
  display: inline;
  min-height: 0;
}

.comments label
{
	font-family: Georgia,  Serif;
	font-style: italic;
	color: #313634;
}

.comment .author
{
	float: left;
	width: 80px;
	text-align: center;
}

.comment .content
{
	height: 100%;
	margin-left: 80px;
}

.gravatar
{
	border: 1px solid #313634;
}

#content img
{
	margin: 0 5px;
	padding: 2px;
}

#content li
{
	margin-left: 40px;
	line-height: 1.5em;
}

#content p
{
	line-height:1.5em;
	margin: 1.8em 0;
}

#footer div
{
	line-height: 1.5em;
}


blockquote, .note
{
	font-family: Georgia, Serif;
	color:#555;
	font-style:italic;
	padding:0 0 0 33px;
	margin: 0;
	background: url(/images/theme/quote.gif) no-repeat top left;
}


.day
{
	font-style: italic;
}

.info
{
	margin: 0.5em 0;
	padding: 0;
	vertical-align: bottom;
	display: block;
	height: 1em;
	color: #CACACA; 
}

.info img
{
	vertical-align: bottom;
}

.no-margin-left
{
	margin-left: 0;
}

.tag, .link, .cross-link 
{
	color: #B80000;
	margin: 0 1px;
	font-family: Georgia, Serif;
	font-style: italic;
	border: none;
}

.tag:hover, .link:hover, .cross-link:hover
{
	color: #FF0900;
	border: none;
}

/*** HOME Page ***/

#services li
{
	margin-left: 0;
}

#services img
{
	float: left;
}

.feed-item, .feed-item-ext
{
	list-style-type: none;
	padding: 0.2em;
	border: 1px solid #000;
	margin: 3px 2px;
	color: #BDB7BA;
}

/**** TABLES ****/

table
{
	border-bottom: 1px solid #C0C0C0;
}

tr, td, th
{
	padding: 5px;
}

td, th
{
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
}

th
{
	background-color: #C0C0C0;
}

#taglist
{
	width: 100%;
	border-bottom: none;
}

#taglist tr
{
	padding:2px;
	width: 100%;
}

#taglist td
{
	padding:2px;
	border-left: none;
	border-right: none;
}

/**** FORMS ****/

input[type="submit"], input[type="button"]
{
	border: 1px solid #313634;
	background-color: #C0C0C0;
	font-family: Georgia, Serif;
	font-style: italic;
	font-size: 110%;
}

input:hover, input:active
{
	border-color: #C0C0C0;
	background-color: #fff;
	color: #000;
}

input[type="text"], textarea
{
	border: 1px solid #C0C0C0;
	background-color: #E2E9EB;
}

/* Google Search */

.gsc-resultsHeader, .gs-visibleUrl, .gsc-trailing-more-results, .gs-watermark
{
	display:none;
}

table.gsc-search-box
{
	height: 25px;
	margin-top: -13px;
}

.gsc-control, .gsc-resultsRoot
{
	width: 850px;
}
.gsc-result
{
	padding: 6px 0;
}

.gsc-search-box td, .gsc-search-box
{
	border: none;
}

.gsc-input
{
	width: 200px;
}

.gsc-branding
{
	height: 20px;
	font-size: 80%;
	color: #ccc;
	margin-top: -5px;
	font-style: italic;
	font-family: Georgia, Serif;
	border: none;
	text-align: right;
}

div.gsc-clear-button
{
	background: transparent url('../images/icons/close.png') no-repeat center 50%;
	width: 16px;
	height: 16px;
}

div.gsc-clear-button:hover
{
	cursor: pointer;
}

.gsc-cursor-page
{
	display: inline;
	padding-right: 7px;
}

.gsc-cursor-page:hover
{
	cursor: pointer;
}

.gsc-cursor-current-page
{
	font-weight: bold;
}


