/* TEXT */

h2, h3, h4, h5
{
	font-family: Georgia, Serif;
	font-weight: normal;
	color: #B80000;
	padding-bottom:0.05em;
	margin-bottom: 0.5em;
}

h1
{
	margin: 0;
	font-size: 200%;
}

h2
{
	font-size: 180%;
}

h3
{
	font-size: 140%;
}

#services h3
{
	font-size: 120%;
	border: 1px solid #000;
	cursor: pointer;
}

h4
{
	font-size: 120%;
}

em {
	font-style: italic;
}


/******* LINKS *******/

a, a.gs-title
{
	text-decoration:none;
	outline:none;
}

a, a.gs-title, .gsc-cursor-page
{
	color: #A4282D;
}

a:hover, a.gs-title:hover, .gsc-cursor-page:hover
{
	color: #CF282D;
}

#content h2 a, #content h3 a
{
	color: #B80000;
}

#content h2 a:hover, #content h3 a:hover
{
	color: #FF0900;
}

