/* TEXT */

h2, h3, h4, h5
{
	font-family: Georgia, Serif;
	font-weight: normal;
	color: #B80000;
	text-align: center; 
}

h1
{
	margin: 0;
	font-size: 50px;
}

h2
{
	margin: 0;
	font-size: 45px;
}

h3
{
	margin: 0;
	font-size: 35px;
}

.dropcap {
	font-size:50px;
	display:block;
	float:left;
	padding: 5px;
	color: #B80000;
}

h2 + p:first-line {
	font-variant:small-caps;
}

#services h3
{
	font-size: 35px;
	border: 1px solid #000;
	text-align: left;
	cursor: pointer;
	font-style: italic;
	height: 50px;
	display: block;
}

h4
{
	margin: 0;
	font-size: 30px;
}

em {
	font-style: italic;
}


#services h3 a
{
	padding-top: 35px;
	vertical-align: middle;
}


/******* LINKS *******/

#navigation a
{
	font-size: 25px;
}

a, a.gs-title
{
	text-decoration:none;
	outline:none;
}

a, a.gs-title, .gsc-cursor-page
{
	color: #A4282D;
}

a:hover, a.gs-title:hover, .gsc-cursor-page:hover
{
	color: #CF282D;
}

#content h2 a, #content h3 a
{
	color: #B80000;
}

#content h2 a:hover, #content h3 a:hover
{
	color: #FF0900;
}

