----- 
----- 
@import definitions

*
  font-family: inherit
  font-style: inherit
  font-size: 100%
  border: none
  padding: 0
  margin: 0

html, body
  height: 100%
  line-height: 1.2
  background: #000 url(../images/theme/pattern.jpg)

p, ol, ul
  margin: 0.5em 0

table
  border-collapse: collapse
  border-spacing: 0

body
  margin: 0
  padding: 0

=button_img(!img)
  background: url(../images/theme/#{!img}.png)

#logo
  display: block
  width: 313px
  height: 75px
  +button_img("logo")

  &:hover
    +button_img("logo_h")

.logo 
  +button_img("logo_h")

#header
  width: 100%
  padding: 5px 0
  height: 70px

#header-container, #footer-container
  margin: auto
  width: 900px

#header-left
  float: left
  width: 300px

#header-right
  float: right
  text-align: right
  width: 600px

#navigation li
  float: left
  list-style-type: none
  padding-left: 10px

#ie-warning
  border-bottom: 1px solid #F5B800
  background-color: #FFE38F
  padding: 1em
  margin-top: -5px
  margin-bottom: 5px
  font-weight: bold

#container
  padding: 5px 15px
  margin: auto
  width: 900px
  height: 100%

.ribbon
  height: 19px
  background: url(../images/theme/ribbon.png) repeat-x

#main
  background: #fff url(../images/theme/main.jpg)


#content
  text-align: justify
  padding: 0 1em

#content-body
  clear: both

#content-footer
  text-align: center
  margin: auto

#wrapper
  min-height: 100%
  margin-bottom: -40px

#border-bottom
  clear: both
  height: auto
  padding: 0
  width: 100%
  +darkbg_font

#services
  margin: auto
  width: 1000px

#footer
  position: relative
  height: 40px
  width: 100%
  font-size: 0.8em
  text-align: center
  padding-top: 1em
  +darkbg_font

.clearfooter
  height: 40px
  clear: both

.footer-left, .footer-right, .footer-center
  float: left
  text-align: left
  font-size: 90%
  display: block
  height: 600px

.footer-left, .footer-right
  width: 30%

.footer-center
  width: 40%

.footer-div
  clear: both
  font-size: 95%
  color: #CACACA

.share
  clear: both
  margin: auto
  padding: 5px
  text-align: center
 
  table, td, tr  
    border: none

#page-links
  text-align: right
  
  img
    vertical-align: text-bottom

#page-links span
  padding: 0 5px

#comments
  width: 900px
  margin: auto
